@define-color documents_collection_bg shade(@theme_bg_color, 1.2);

GeditStatusbar {
  background-image: linear-gradient(to bottom,
                                    shade(@theme_bg_color, 1.05),
                                    shade(@theme_bg_color, 0.9));
  box-shadow: inset 0 1px alpha(white, 0.15);
}

/* Rhythmbox */
RBButtonBar.toolbar {
  background-color: @theme_bg_color;
  border-style: none;
  background-image: none;
}
