/*
 * Nemo
 */
NemoWindow GtkSeparator.separator.horizontal {
	color: @borders
}

NemoStatusBar.toolbar .button {
    border-image: -gtk-scaled(url("borders/button-border.png"),url("borders/button-border@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
    background-image: linear-gradient(to bottom, 
                                      @button_gradient_color_a, 
                                      @button_gradient_color_b);
	color: @theme_fg_color;
    text-shadow: 0 1px @button_text_shadow;
	icon-shadow: 0 1px @button_text_shadow;
}

NemoStatusBar.toolbar .button:hover {
    background-image: linear-gradient(to bottom,
				      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b
                                      );
}

NemoStatusBar.toolbar .button:active:hover,
NemoStatusBar.toolbar .button:active {
    border-image: -gtk-scaled(url("borders/button-active-border.png"),url("borders/button-active-border@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
    box-shadow: inset 0 1px 1px alpha(black, 0.2);
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b);
    color: @button_active_text;
    text-shadow: 0 -1px @button_active_text_shadow;
    icon-shadow: 0 -1px @button_active_text_shadow;
}

NemoStatusBar.toolbar .scale.slider {
    background-image: -gtk-scaled(url("assets/slider.png"),url("assets/slider@2.png"));
}

NemoStatusBar.toolbar .scale.slider:hover {
    background-image: -gtk-scaled(url("assets/slider-hover.png"),url("assets/slider-hover@2.png"));
}

NemoStatusBar.toolbar .scale.slider:active,
NemoStatusBar.toolbar .scale.slider:active:hover {
    background-image: -gtk-scaled(url("assets/slider-active.png"),url("assets/slider-active@2.png"));
}

NemoStatusBar.toolbar .scale.highlight {
    border-image: -gtk-scaled(url("borders/scale-highlight-border.png"),url("borders/scale-highlight-border@2.png")) 2 6 3 6 / 2px 6px 3px 6px stretch;
   	background-image: linear-gradient(to bottom,
                                      @scale_highlight_bg_a,
                                      @scale_highlight_bg_b);
}

NemoStatusBar.toolbar .scale.trough {
    border-image: -gtk-scaled(url("borders/scale-trough-border.png"),url("borders/scale-trough-border@2.png")) 2 6 3 6 / 2px 6px 3px 6px stretch;
   	background-image: linear-gradient(to bottom,
                                      @button_active_gradient_color_a,
                                      @button_active_gradient_color_b);
}

/*
 * Contacts
 */
.contacts-left-header-bar:dir(ltr) {
	border-right-width: 1px;
	border-right-color: alpha(black, 0.3);
}

.contacts-left-header-bar:dir(rtl) {
	border-left-width: 1px;
	border-left-color: alpha(black, 0.3);
}

ContactsWindow ContactsContactPane .frame {
	border-width: 1px 0 0 0;
}


/*
 * Epiphany
 */
EphyToolbar .button {
	    background-image: linear-gradient(to bottom, 
                                      @dark_button_gradient_color_a, 
                                      @dark_button_gradient_color_b);
	color: @dark_fg_color;
	text-shadow: 0 -1px @dark_wm_title_shadow;
    icon-shadow: 0 -1px @dark_wm_title_shadow;
    border-image: -gtk-scaled(url("borders/button-border-dark.png"),url("borders/button-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
}

EphyToolbar  .button:hover {
    background-image: linear-gradient(to bottom,
				      				  shade(@dark_button_hover_gradient_color_a, 1.1),
                                      shade(@dark_button_hover_gradient_color_b, 1.1)
                                      );
}

EphyToolbar .button:active,
EphyToolbar .button:active:hover {
    border-image: -gtk-scaled(url("borders/button-active-border-dark.png"),url("borders/button-active-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
    background-image: linear-gradient(to bottom,
                                  @dark_button_active_gradient_color_a,
                                  @dark_button_active_gradient_color_b);
}

EphyToolbar  .button:insensitive {
    background-image: none;
	background-color: @dark_insensitive_bg_color;
	color: @dark_insensitive_fg_color;
    border-image: -gtk-scaled(url("borders/button-border-dark.png"),url("borders/button-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
	icon-shadow: none;
	text-shadow: none;
}

EphyToolbar .linked .button:first-child,
EphyToolbar .linked .button:insensitive:first-child {
    border-image: -gtk-scaled(url("borders/left-button-border-dark.png"),url("borders/left-button-border-dark@2.png")) 2 1 3 2 / 2px 1px 3px 2px stretch;
}

EphyToolbar .linked .button:active:hover:first-child {
    border-image: -gtk-scaled(url("borders/left-button-active-border-dark.png"),url("borders/left-button-active-border-dark@2.png")) 2 1 3 2 / 2px 1px 3px 2px stretch;
}

EphyToolbar .linked .button:last-child,
EphyToolbar .linked .button:insensitive:last-child {
    border-image: -gtk-scaled(url("borders/right-button-border-dark.png"),url("borders/right-button-border-dark@2.png")) 2 2 3 1 / 2px 2px 3px 1px stretch;
}

EphyToolbar .linked .button:active:hover:last-child {
    border-image: -gtk-scaled(url("borders/right-button-active-border-dark.png"),url("borders/right-button-active-border-dark@2.png")) 2 2 3 1 / 2px 2px 3px 1px stretch;
}


EphyToolbar .entry:first-child {
    border-image: -gtk-scaled(url("borders/generic-border-dark.png"),url("borders/generic-border-dark@2.png")) 2 2 3 2 / 2px 0 3px 2px stretch;
    color: @dark_fg_color;
    background-color: @dark_entry_bg_color;
    box-shadow: inset 0 1px alpha(black,0.2);
}

EphyToolbar .entry:last-child {
    border-image: -gtk-scaled(url("borders/generic-border-dark.png"),url("borders/generic-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 0 stretch;
    color: @dark_fg_color;
    background-color: @dark_entry_bg_color;
    box-shadow: inset 0 1px alpha(black,0.2);
}

EphyToolbar .entry:focus:first-child {
    border-image: -gtk-scaled(url("borders/generic-border-focused-dark.png"),url("borders/generic-border-focused-dark@2.png")) 2 2 3 2 / 2px 0 3px 2px stretch;
}

EphyToolbar .entry:focus:last-child {
    border-image: -gtk-scaled(url("borders/generic-border-focused-dark.png"),url("borders/generic-border-focused-dark@2.png")) 2 2 3 2 / 2px 2px 3px 0 stretch;
}
