/***************
 * Resize grip *
 ***************/

.grip {
    background-color: transparent;
    background-image: url("assets/resize-grip.svg");
}

/*******************
 * Pane separators *
 *******************/
.pane-separator {
    background-image: url("assets/dark/pane-separator-grip-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator:hover {
    background-image: url("assets/dark/pane-separator-grip-prelight-dark.svg");
}

.pane-separator.vertical {
    background-image: url("assets/dark/pane-separator-grip-vertical-dark.svg");
}

.pane-separator.vertical:hover {
    background-image: url("assets/dark/pane-separator-grip-vertical-prelight-dark.svg");
}

/*************************
 * Header bar separator  *
 *************************/

.toolbar .separator,
.header-bar > GtkBox > .separator.vertical,
.header-bar .separator {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 5px;
    background: transparent;
    border-width: 0 4px 0 1px;
    border-style: solid;
    border-color: transparent;
    border-image: -gtk-scaled(url("assets/dark/header-separator.png"),url("assets/dark/header-separator@2.png")) 0 4 0 1 / 0 4px 0 1px stretch;
}

.selection-mode.header-bar > GtkBox > .separator.vertical,
.selection-mode.toolbar .separator {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 5px;
    background: transparent;
    border-width: 0 4px 0 1px;
    border-style: solid;
    border-color: transparent;
    border-image: -gtk-scaled(url("assets/dark/header-separator-selectionmode.png"),url("assets/dark/header-separator-selectionmode@2.png")) 0 4 0 1 / 0 4px 0 1px stretch;
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
GtkModelButton.button.check,
GtkModelButton.button.check:hover,
.menuitem.check,
.menuitem.check:hover,
.check,
.view.cell.check {
    background-image: -gtk-scaled(url("assets/dark/checkbox-unchecked.png"),url("assets/dark/checkbox-unchecked@2.png"));
    background-repeat: no-repeat;
    background-position: center;
}

GtkModelButton.button.check:insensitive,
.menuitem.check:insensitive,
.check:insensitive {
    background-image: -gtk-scaled(url("assets/dark/checkbox-unchecked-insensitive.png"),url("assets/dark/checkbox-unchecked-insensitive@2.png"));
}

.check row:insensitive {
    background-color: transparent;
}

GtkModelButton.button.check:active,
GtkModelButton.button.check:active:hover,
.menuitem.check:active,
.check:active,
.view.cell.check:active {
    background-image: -gtk-scaled(url("assets/dark/checkbox-checked.png"),url("assets/dark/checkbox-checked@2.png"));
}

.cell.check:active:selected,
.menuitem.check:active:hover {
    background-image: -gtk-scaled(url("assets/dark/checkbox-checked-hover.png"),url("assets/dark/checkbox-checked-hover@2.png"));
}

GtkModelButton.button.check:active:insensitive,
.menuitem.check:active:insensitive,
.check:active:insensitive {
    background-image: -gtk-scaled(url("assets/dark/checkbox-checked-insensitive.png"),url("assets/dark/checkbox-checked-insensitive@2.png"));
}

.check:inconsistent {
    background-image: -gtk-scaled(url("assets/dark/checkbox-mixed.png"),url("assets/dark/checkbox-mixed@2.png"));
}

.check:inconsistent:insensitive {
    background-image: -gtk-scaled(url("assets/dark/checkbox-mixed-insensitive.png"),url("assets/dark/checkbox-mixed-insensitive@2.png"));
}

GtkModelButton.button.radio,
GtkModelButton.button.radio:hover,
.radio,
.menuitem.radio,
.menuitem.radio:hover,
.view.cell.radio {
    background-image: -gtk-scaled(url("assets/dark/radio-unchecked.png"),url("assets/dark/radio-unchecked@2.png"));
    background-repeat: no-repeat;
    background-position: center;
}

GtkModelButton.button.radio:insensitive,
.menuitem.radio:insensitive,
.radio:insensitive {
    background-image: -gtk-scaled(url("assets/dark/radio-unchecked-insensitive.png"),url("assets/dark/radio-unchecked-insensitive@2.png"));
}

.radio row:insensitive {
    background-color: transparent;
}

GtkModelButton.button.radio:active,
GtkModelButton.button.radio:active:hover,
.radio:active,
.menuitem.radio:active,
.view.cell.radio:active {
    background-image: -gtk-scaled(url("assets/dark/radio-checked.png"),url("assets/dark/radio-checked@2.png"));
}

.cell.radio:active:selected,
.menuitem.radio:active:hover {
    background-image: -gtk-scaled(url("assets/dark/radio-checked-hover.png"),url("assets/dark/radio-checked-hover@2.png"));
}

GtkModelButton.button.radio:active:insensitive,
.menuitem.radio:active:insensitive,
.radio:active:insensitive {
    background-image: -gtk-scaled(url("assets/dark/radio-checked-insensitive.png"),url("assets/dark/radio-checked-insensitive@2.png"));
}

.radio:inconsistent {
    background-image: -gtk-scaled(url("assets/dark/radio-mixed.png"),url("assets/dark/radio-mixed@2.png"));
}

.radio:inconsistent:insensitive {
    background-image: -gtk-scaled(url("assets/dark/radio-mixed-insensitive.png"),url("assets/dark/radio-mixed-insensitive@2.png"));
}

/*********************
 * GtkScale's slider *
 *********************/
.scale.slider {
    background-image: -gtk-scaled(url("assets/dark/slider.svg"));
}

.scale.slider:hover {
    background-image: -gtk-scaled(url("assets/dark/slider_hover.svg"));
}

.scale.slider:active,
.scale.slider:active:hover {
    background-image: -gtk-scaled(url("assets/dark/slider_active.svg"));
}

.scale.slider:insensitive,
.scale.slider:insensitive:hover {
    background-image: -gtk-scaled(url("assets/dark/slider_insensitive.svg"));
}

/********************************
 * Touch text selection handles *
 ********************************/
.cursor-handle.bottom {
    background-image: -gtk-scaled(url("assets/dark/scale-slider-up-backdrop-dark.png"),url("assets/dark/scale-slider-up-backdrop-dark@2.png"));
}

.cursor-handle.top {
    background-image: -gtk-scaled(url("assets/dark/scale-slider-down-backdrop-dark.png"),url("assets/dark/scale-slider-down-backdrop-dark@2.png"));
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-image: url("assets/dark/noise-texture-dark.png");
}

/*Scrollbar*/
.scrollbar.trough {
    border-image: url("assets/dark/scrollbar-trough.svg") 8 7 8 8;
	border-width: 8px 7px 8px 8px;
    background-color: transparent;
    border-radius: 0;
}

.scrollbar.trough.horizontal {
    border-image: url("assets/dark/scrollbar-trough-horizontal.svg") 8 8 7 8;
	border-width: 8px 8px 7px 8px;
}

.scrollbar.slider {
    border-image: url("assets/dark/scrollbar-slider.svg") 8 7 8 8;
	border-width: 8px 7px 8px 8px;
    background-color: transparent;
    border-radius: 0;
}

.scrollbar.slider.horizontal {
    border-image: url("assets/dark/scrollbar-slider-horizontal.svg") 8 8 7 8;
	border-width: 8px 8px 7px 8px;
}

.scrollbar.slider:hover {
    border-image: url("assets/dark/scrollbar-slider-hover.svg") 8 7 8 8;
}

.scrollbar.slider.horizontal:hover {
    border-image: url("assets/dark/scrollbar-slider-horizontal-hover.svg") 8 8 7 8;
}

.scrollbar.slider:insensitive,
.scrollbar.slider:active {
    border-image: url("assets/dark/scrollbar-slider-active.svg") 8 7 8 8;
}

.scrollbar.slider.horizontal:insensitive,
.scrollbar.slider.horizontal:active {
    border-image: url("assets/dark/scrollbar-slider-horizontal-active.svg") 8 8 7 8;
}

/*************
 * GtkSwitch *
 *************/
GtkSwitch.trough {
    background-image: url("assets/dark/switch-off.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    color: transparent;
	border-color: transparent;
	border-image: none;
	border-style: none;
	box-shadow: none;
	text-shadow: none;
}

GtkSwitch.trough:active {
    background-image: url("assets/dark/switch-on.svg");
}


GtkSwitch.trough:insensitive {
	background-color: transparent;
    background-image: url("assets/dark/switch-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive {
    background-image: url("assets/dark/switch-on-disabled.svg");
}

GtkSwitch.slider {
    background-image: url("assets/dark/switch-slider.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
}

GtkSwitch.slider:insensitive {
    background-color: transparent;
    background-image: url("assets/dark/switch-slider-insensitive.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
}
/*
.list-row GtkSwitch.trough  {
    background-image: url("assets/dark/switch-off-list.svg");
}

.list-row GtkSwitch.trough:active  {
    background-image: url("assets/dark/switch-on-list.svg");
}

.list-row GtkSwitch.trough:insensitive  {
    background-image: url("assets/dark/switch-off-disabled-list.svg");
}

.list-row GtkSwitch.trough:active:insensitive  {
    background-image: url("assets/dark/switch-on-disabled-list.svg");
}*/
