/* Dark color scheme */
@define-color theme_fg_color #F3F3F5;
@define-color theme_bg_color #3D3E40;
@define-color theme_base_color shade(@theme_bg_color, 0.7);
@define-color theme_selected_bg_color #4080fb;
@define-color theme_selected_fg_color white;
@define-color insensitive_bg_color shade(@theme_bg_color, 1.1);
@define-color insensitive_fg_color shade(@theme_fg_color, 0.6);
@define-color borders shade(@theme_base_color, 0.5);
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;
/*@define-color wm_borders_edge white;
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(@theme_bg_color, 1.3);
@define-color wm_button_hover_color_b @theme_bg_color;
@define-color wm_button_active_color_a shade(@theme_bg_color, 0.85);
@define-color wm_button_active_color_b shade(@theme_bg_color, 0.89);
@define-color wm_button_active_color_c shade(@theme_bg_color, 0.9);*/
@define-color content_view_bg @theme_base_color;
@define-color link_color #2a76c6;

@define-color selected_bg_color @theme_selected_bg_color;
@define-color fg_color @theme_selected_fg_color;

@define-color entry_bg_color shade(@theme_bg_color, 0.8);
@define-color entry_inset alpha(black, 0.15);

@define-color highlight_shadow alpha(white, 0.15);

@define-color button_gradient_color_a shade(@theme_bg_color, 1.3);
@define-color button_gradient_color_b shade(@theme_bg_color, 0.85);

@define-color button_hover_gradient_color_a shade(@button_gradient_color_a, 1.10);
@define-color button_hover_gradient_color_b shade(@button_gradient_color_b, 1.02);

@define-color button_active_gradient_color_a shade(@button_gradient_color_b, 0.7);
@define-color button_active_gradient_color_b shade(@button_gradient_color_a, 0.7);

@define-color button_active_text @theme_fg_color;
@define-color button_active_text_shadow alpha(black, 0.6);

@define-color suggested_action_button_a #407cbc;
@define-color suggested_action_button_b #2a5285;

@define-color suggested_action_button_fg white;
@define-color suggested_action_button_shadow alpha(black, 0.3);

@define-color destructive_action_button_a #e86060;
@define-color destructive_action_button_b #ce3535;

@define-color destructive_action_button_fg white;
@define-color destructive_action_button_shadow alpha(black, 0.3);

@define-color insensitive_borders shade(@borders, 1.1);

@define-color notebook_tab_gradient_a @wm_bg_b;
@define-color notebook_tab_gradient_b shade(@wm_bg_b, 0.9);

@define-color scale_highlight_bg_a shade(@theme_bg_color, 1.2);
@define-color scale_highlight_bg_b shade(@theme_bg_color, 1.5);

@define-color progressbar_background_a shade(@theme_selected_bg_color, 1.0);
@define-color progressbar_background_b shade(@theme_selected_bg_color, 0.8);
@define-color progressbar_border shade(@theme_base_color, 0.60);
/*@define-color progressbar_highlight #66CBFF;*/
@define-color progressbar_highlight mix (alpha(white, 1.0), @progressbar_background_a, 0.7);

/*@define-color trough_bg_color_a #565759;
@define-color trough_bg_color_b shade(@trough_bg_color_a, 1.1);*/
@define-color trough_bg_color_a @button_active_gradient_color_a;
@define-color trough_bg_color_b @button_active_gradient_color_b;

@define-color sidebar_bg shade(@theme_bg_color, 0.9);

@define-color app_notification_a shade(@wm_bg_a, 1.02);
@define-color app_notification_b shade(@wm_bg_b, 1.05);

@define-color infobar_bg_color #3D5074;
@define-color infobar_fg_color alpha(@theme_fg_color, 1.0);
@define-color infobar_text_shadow alpha(black, 0.7);


@define-color selection_toolbar_bg_a #3465a4;
@define-color selection_toolbar_bg_b #1d437b;
@define-color selection_toolbar_border #0D213B;
@define-color selection_button_text_shadow alpha(black, 0.5);

@define-color selection_toolbar_button_a shade(@selection_toolbar_bg_a, 1.05);
@define-color selection_toolbar_button_b shade(@selection_toolbar_bg_b, 0.98);

/*gnome-clocks uses these colors. why?*/
@define-color scrollbar_trough shade(@theme_bg_color, 0.9);
@define-color scrollbar_slider_prelight mix(@scrollbar_trough, @theme_fg_color, 0.5);
@define-color theme_text_color @theme_fg_color;

/*******
 * OSD *
 *******/
@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(shade(#3D3E40, 1.15), 0.75);
@define-color osd_toolbar_bg_b alpha(shade(#3D3E40, 0.85), 0.75);

@define-color osd_button_bg_a @osd_toolbar_bg_a;
@define-color osd_button_bg_b @osd_toolbar_bg_b;

@define-color osd_trough_bg_a alpha(shade(#3a3b3d, 0.6), 0.5);
@define-color osd_trough_bg_b alpha(shade(#444446, 0.6), 0.5);

/******
 * WM *
 ******/
@define-color wm_title @theme_fg_color;
@define-color wm_unfocused_title alpha(@theme_fg_color, 0.6);
@define-color wm_highlight shade(@theme_bg_color, 1.4);
@define-color wm_title_highlight alpha(#000000, 0.0);
@define-color wm_title_highlight_dark alpha(black, 0.8);
@define-color wm_title_shadow @wm_title_highlight;

@define-color wm_bg_a shade (@theme_bg_color, 1.3);
@define-color wm_bg_b @theme_bg_color;
@define-color metacity_bg_a @wm_bg_a;
@define-color metacity_bg_b #454749;

@define-color wm_shadow alpha(black, 0.7);
@define-color window_frame alpha(black, 0.85);
@define-color wm_border black;


@import url("gtk-widgets.css");
@import url("gtk-widgets-dark-overrides.css");
@import url("gtk-widgets-borders-dark.css");
@import url("gtk-widgets-assets-dark.css");
@import url("applications.css");
@import url("applications-dark-overrides.css");
@import url("window-controls.css");
@import url("tabs.css");
@import url("tabs-dark-overrides.css");
