/* GTK NAMED COLORS */
@define-color theme_fg_color #3c3c3e;
@define-color theme_bg_color #F5F5F7;
@define-color theme_base_color white;
@define-color theme_selected_bg_color #4080fb;
@define-color theme_selected_fg_color white;
@define-color insensitive_bg_color #f4f4f4;
@define-color insensitive_fg_color #a7a7a7;
@define-color borders #b8b8b8;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;
@define-color content_view_bg white;
@define-color link_color #2a76c6;

@define-color selected_bg_color @theme_selected_bg_color;
@define-color fg_color @theme_selected_fg_color;

@define-color entry_bg_color @theme_base_color;
@define-color entry_inset alpha(black, 0.1);

@define-color highlight_shadow white;

@define-color button_gradient_color_a #F4F4F4;
@define-color button_gradient_color_b #E2E3E5;

@define-color button_hover_gradient_color_a @theme_base_color;
@define-color button_hover_gradient_color_b shade (@button_gradient_color_a, 0.94);

@define-color button_active_gradient_color_a #6a6a6c;
@define-color button_active_gradient_color_b #949596;

@define-color button_active_text @theme_selected_fg_color;
@define-color button_active_text_shadow alpha(black, 0.4);

@define-color suggested_action_button_a #6496F5;
@define-color suggested_action_button_b #5A86DB;

@define-color suggested_action_button_fg white;
@define-color suggested_action_button_shadow alpha(black, 0.3);

@define-color destructive_action_button_a #e86060;
@define-color destructive_action_button_b #ce3535;

@define-color destructive_action_button_fg white;
@define-color destructive_action_button_shadow alpha(black, 0.3);

@define-color insensitive_borders shade(@borders, 1.1);

@define-color notebook_tab_gradient_a @wm_bg_b;
@define-color notebook_tab_gradient_b shade(@wm_bg_b, 0.98);

@define-color scale_highlight_bg_a #525355;
@define-color scale_highlight_bg_b #616264;

@define-color progressbar_background_a #53A9FE;
@define-color progressbar_background_b #3D88FF;
@define-color progressbar_border #404143;

/*@define-color trough_bg_color_a #565759;
@define-color trough_bg_color_b shade(@trough_bg_color_a, 1.1);*/
@define-color trough_bg_color_a @button_active_gradient_color_a;
@define-color trough_bg_color_b @button_active_gradient_color_b;

@define-color sidebar_bg shade(#F3F3F5, 1.025);

@define-color app_notification_a shade(@wm_bg_a, 1.02);
@define-color app_notification_b shade(@wm_bg_b, 1.05);

@define-color infobar_bg_color #FCF8BD;
@define-color infobar_fg_color alpha(@theme_fg_color, 0.8);
@define-color infobar_text_shadow alpha(white, 0.7);


@define-color selection_toolbar_bg_a #3465a4;
@define-color selection_toolbar_bg_b #1d437b;
@define-color selection_toolbar_border shade(@selection_toolbar_bg_b, 0.75);
@define-color selection_button_text_shadow alpha(black, 0.5);

@define-color selection_toolbar_button_a shade(@selection_toolbar_bg_a, 1.05);
@define-color selection_toolbar_button_b shade(@selection_toolbar_bg_b, 0.98);

/*gnome-clocks uses these colors. why?*/
@define-color scrollbar_trough shade(@theme_bg_color, 0.9);
@define-color scrollbar_slider_prelight mix(@scrollbar_trough, @theme_fg_color, 0.5);
@define-color theme_text_color @theme_fg_color;

/*******
 * OSD *
 *******/
@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(shade(#3D3E40, 1.15), 0.75);
@define-color osd_toolbar_bg_b alpha(shade(#3D3E40, 0.85), 0.75);

@define-color osd_button_bg_a @osd_toolbar_bg_a;
@define-color osd_button_bg_b @osd_toolbar_bg_b;

@define-color osd_trough_bg_a alpha(shade(#3a3b3d, 0.6), 0.5);
@define-color osd_trough_bg_b alpha(shade(#444446, 0.6), 0.5);

/******
 * WM *
 ******/
@define-color wm_title @dark_fg_color;
@define-color wm_unfocused_title alpha(@dark_fg_color, 0.6);
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight alpha(#000000, 0.0);
@define-color wm_title_highlight_dark @dark_wm_title_shadow;
@define-color wm_title_shadow @wm_title_highlight;

@define-color wm_bg_a shade (@theme_bg_color, 1.3);
@define-color wm_bg_b @theme_bg_color;
@define-color metacity_bg_a @dark_wm_bg_a;
@define-color metacity_bg_b #454749;

@define-color wm_shadow alpha(black, 0.7);
@define-color window_frame alpha(black, 0.3);
@define-color wm_border black;

/********/
@define-color dark_bg_color #3D3E40;
@define-color dark_fg_color #F3F3F5;

@define-color dark_insensitive_bg_color shade(@dark_bg_color, 1.1);
@define-color dark_insensitive_fg_color shade(@dark_fg_color, 0.6);

@define-color dark_borders shade(@dark_bg_color, 0.7);

@define-color dark_entry_bg_color shade(@dark_bg_color, 0.8);

@define-color dark_button_gradient_color_a shade (@dark_bg_color, 1.3);
@define-color dark_button_gradient_color_b shade(@dark_bg_color, 0.85);

@define-color dark_button_active_gradient_color_a shade(@dark_button_gradient_color_b, 0.7);
@define-color dark_button_active_gradient_color_b shade(@dark_button_gradient_color_a, 0.7);

@define-color dark_button_hover_gradient_color_a shade (@dark_button_gradient_color_a, 1.10);
@define-color dark_button_hover_gradient_color_b shade (@dark_button_gradient_color_b, 1.02);

@define-color dark_notebook_tab_gradient_a @dark_wm_bg_b;
@define-color dark_notebook_tab_gradient_b shade(@dark_wm_bg_b, 0.9);

@define-color dark_suggested_action_button_a #407cbc;
@define-color dark_suggested_action_button_b #2a5285;

@define-color dark_scale_highlight_bg_a shade(@dark_bg_color, 1.2);
@define-color dark_scale_highlight_bg_b shade(@dark_bg_color, 1.5);
@define-color dark_trough_bg_color_a @dark_button_active_gradient_color_a;
@define-color dark_trough_bg_color_b @dark_button_active_gradient_color_b;

@define-color dark_wm_bg_a shade (@dark_bg_color, 1.3);
@define-color dark_wm_bg_b @dark_bg_color;
@define-color dark_wm_title_shadow alpha(black, 0.8);
@define-color dark_window_frame alpha(black, 0.85);
/*******/

@import url("gtk-widgets.css");
@import url("gtk-widgets-darker-overrides.css");

@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-borders-darker-overrides.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-widgets-assets-darker-overrides.css");
@import url("applications.css");
@import url("applications-darker-overrides.css");

@import url("window-controls.css");
@import url("tabs.css");
@import url("tabs-darker-overrides.css");
