/* Button background */
.button,
.toolbar .button.raised,
.toolbar .raised .button,
.toolbar GtkComboBox .button,
.spinbutton.vertical .button {
    background-image: linear-gradient(to bottom, 
                                      @button_gradient_color_a, 
                                      @button_gradient_color_b);
    background-color: transparent;
}

/* Pushed button and progressbar through background */
.button:active, 
.button:active:hover,
.spinbutton.vertical .button:active,
.spinbutton.vertical .button:active:hover,
.toolbar .button:active,
.toolbar .button:active:hover,
.toolbar .button.raised:active,
.toolbar .raised .button:active,
.toolbar .button.raised:active:hover,
.toolbar .raised .button:active:hover {
    box-shadow: inset 0 1px 1px alpha(black, 0.2);
    /*  background-color: mix(@borders, @theme_bg_color, 0.5); */
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b);
}


.trough,
.trough.highlight,
.trough row,
.trough row:hover {
    box-shadow: inset 0 1px 1px alpha(black, 0.2);
    background-image: linear-gradient(to bottom,
                                  @trough_bg_color_a,
                                  @trough_bg_color_b);
}

.trough.vertical {
    box-shadow: inset 1px 0 1px alpha(black, 0.2);
    /*  background-color: mix(@borders, @theme_bg_color, 0.5); */
    background-image: linear-gradient(to right,
                                  @trough_bg_color_a,
                                  @trough_bg_color_b);
}

/* Primary and inline toolbars pushed button background *//*
.primary-toolbar .button:active,
.primary-toolbar .button:active:hover,
.inline-toolbar .button:active,
.inline-toolbar .button:active:hover {
    background-image: linear-gradient(to bottom,
				      shade(@borders, 0.95),
                                      shade(@theme_bg_color, 0.88)
                                      );
    background-color: transparent;
}*/

/* Prelit button background */
.button:hover,
.toolbar .button:hover,
.toolbar .button.raised:hover,
.toolbar .raised .button:hover,
.toolbar GtkComboBox .button:hover,
.spinbutton.vertical .button:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
				      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b
                                      );
}

/* Prelit button on primary toolbar background */
.primary-toolbar .button:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
				      alpha(@toolbar_button_prelight, 0),
                                      @toolbar_button_prelight 54%,
                                      alpha(@toolbar_button_prelight, 0)
                                      );
}

/* Insensitive button background */
.button:insensitive,
.spinbutton.vertical .button:insensitive,
.toolbar GtkComboBox .button:insensitive,
.toolbar .button.raised:insensitive,
.toolbar .raised .button:insensitive {
    background-image: none;
    background-color: @insensitive_bg_color;
}

/* Pushed + Insensitive button background */
.button:active:insensitive,
.toolbar .button:active:insensitive,
.toolbar GtkComboBox .button:active:insensitive {
    background-image: linear-gradient(to bottom,
                                  shade(@button_active_gradient_color_a, 1.6),
                                  shade(@button_active_gradient_color_a, 1.7));
    background-color: transparent;
	color: alpha(@theme_selected_fg_color, 0.7);
}

/* Unfocused window button background *//*
.button:backdrop,
.toolbar .button.raised:backdrop,
.toolbar .raised .button:backdrop,
.toolbar .button:backdrop:hover,
.toolbar GtkComboBox .button:backdrop,
.toolbar GtkComboBox .button:backdrop:hover,
.primary-toolbar .raised .button:backdrop:hover {
    background-image: none;
    background-color: @unfocused_button_background;
}*/

/* Unfocused window pushed button background *//*
.button:active:backdrop,
.toolbar .button:active:backdrop,
.toolbar .button:active:hover:backdrop {
    background-image: none;
    background-color: @unfocused_borders;
}
*/
/* Unfocused window insensitive button background *//*
.button:insensitive:backdrop,
.toolbar .button:insensitive:backdrop {
    background-image: none;
    background-color: @unfocused_insensitive_bg_color;
}

.button:insensitive:active:backdrop {
    background-image: none;
    background-color: mix(@unfocused_insensitive_bg_color, @unfocused_borders, 0.5);
}
*/
/* Entry background */
.entry {
    background-image: none;
    box-shadow: inset 0 1px @entry_inset;
}

/* Entry pushed button background */
.spinbutton .button:active,
.spinbutton .button:active:hover,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover {
    background-image: linear-gradient(to bottom,
                                      shade(@entry_background_a, 0.9),
                                      @entry_background_b
                                      );
    background-color: transparent;
    box-shadow: inset 0 1px @entry_inset, 
                inset 0 2px alpha(@entry_inset, 0.4);
}

/* Insensitive entry background */
.entry:insensitive,
GtkComboBox.combobox-entry .button:insensitive,
.level-bar.trough:insensitive {
    background-color: @insensitive_bg_color;
    background-image: none;
    box-shadow: none;
}

/* Unfocused windows entry background *//*
.entry:backdrop,
GtkComboBox.combobox-entry .button:backdrop,
column-header.button:backdrop,
column-header .button:backdrop,
column-header.button:insensitive:backdrop,
column-header .button:insensitive:backdrop,
.level-bar.trough:backdrop,
.spinbutton.vertical.entry:backdrop {
    background-image: none;
    background-color: @theme_unfocused_base_color;
    box-shadow: none;
}*/

/* Unfocused windows insensitive entry background *//*
.entry:insensitive:backdrop,
GtkComboBox.combobox-entry .button:insensitive:backdrop,
.level-bar.trough:insensitive:backdrop,
.spinbutton.vertical.entry:insensitive:backdrop {
    background-image: none;
    background-color: @unfocused_insensitive_bg_color;
}
*/

/* Inline toolbars background */
.inline-toolbar.toolbar  {
    background-image: linear-gradient(to bottom,
                                      @toolbar_gradient_a,
                                      @toolbar_gradient_b
                                      );
    background-color: transparent;
}

.inline-toolbar.toolbar.vertical {
    background-image: linear-gradient(to right,
                                      @toolbar_gradient_a,
                                      @toolbar_gradient_b
                                      );
    background-color: transparent;
}

/* Unfocused window inline toolbars background *//*
.inline-toolbar.toolbar:backdrop  {
    background-image: none;
    background-color: @unfocused_dark_bg;
}*/

.scale.trough,
.level-bar.trough {
   	background-image: linear-gradient(to bottom,
                                      @button_active_gradient_color_a,
                                      @button_active_gradient_color_b);
}

.scale.trough.vertical {
    background-image: linear-gradient(to right,
                                      @button_active_gradient_color_a,
                                      @button_active_gradient_color_b);
}

.scale.trough.highlight {
   	background-image: linear-gradient(to bottom,
                                      @scale_highlight_bg_a,
                                      @scale_highlight_bg_b);
}

.scale.trough.highlight:insensitive {
    background-image: linear-gradient(to bottom,
                                  shade(@scale_highlight_bg_b, 1.3),
                                  shade(@scale_highlight_bg_b, 1.4));
}

.scale.trough.vertical.highlight {
   	background-image: linear-gradient(to right,
                                      @scale_highlight_bg_a,
                                      @scale_highlight_bg_b);
}

.scale.trough.vertical.highlight:insensitive {
    background-image: linear-gradient(to right,
                                  shade(@scale_highlight_bg_b, 1.3),
                                  shade(@scale_highlight_bg_b, 1.4));
}

.scale.trough:insensitive {
    box-shadow: inset 0 1px 2px alpha(black, 0.1);
    background-image: linear-gradient(to bottom,
                                  shade(@scale_highlight_bg_b, 1.6),
                                  shade(@scale_highlight_bg_b, 1.7));
}

.scale.trough.vertical:insensitive {
    box-shadow: inset 1px 0 2px alpha(black, 0.1);
    background-image: linear-gradient(to right,
                                  shade(@scale_highlight_bg_b, 1.6),
                                  shade(@scale_highlight_bg_b, 1.7));
}

/* Active switch background*//*
.scale.progressbar {
    box-shadow: inset 0 1px 1px alpha(black, 0.1);
    background-image: linear-gradient(to bottom,
                                      @switch_trough_active_bg_a,
                                      @switch_trough_active_bg_b
                                      );
    background-color: transparent;
}

.scale.progressbar.vertical {
    background-image: linear-gradient(to right,
                                      @switch_trough_active_bg_a,
                                      @switch_trough_active_bg_b
                                      );
    background-color: transparent;
}*/

/* Progressbar backgrounds */

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: linear-gradient(to bottom,
                                      @progressbar_background_a,
                                      @progressbar_background_b);
    box-shadow: inset 0 1px #66CBFF;
}

.progressbar.vertical {
    background-image: linear-gradient(to right,
                                      @progressbar_background_a,
                                      @progressbar_background_b);
    box-shadow: inset 1px 0 #66CBFF;
}
