.button, .button:hover, .button.flat:hover, .primary-toolbar .button:hover, .inline-toolbar GtkToolButton > .button,
.inline-toolbar GtkToolButton > .button:hover, GtkComboBox, .titlebar.selection-mode .button.suggested-action, 
GtkCalendar.selection-mode.header .button.suggested-action, .header-bar.selection-mode .button.suggested-action,
.notebook tab GtkLabel, .sidebar, .sidebar .view, .spinbutton .button, .spinbutton .button:focus, .notebook tab .button, .menubar > .menuitem, .primary-toolbar .button.flat, .titlebar .subtitle, GtkCalendar.header .subtitle, .header-bar .subtitle {
  text-shadow: 0 -1px alpha(black, 0.7);
  icon-shadow: 0 -1px alpha(black, 0.7);
}

/* menu buttons */
.menuitem.button.flat:hover {
  border: 1px solid alpha(black, 0.4);
  border-bottom-color: alpha(black, 0.55);
  box-shadow: inset 0 1px alpha(@highlight_shadow, 0.7);
  background-image: linear-gradient(to bottom,
                                    alpha(@button_gradient_color_a, 0.4),
                                    alpha(@button_gradient_color_b, 0.3)); }
.menuitem.button.flat:active, .menuitem.button.flat:active:hover,
.menuitem.button.flat:checked, .menuitem.button.flat:checked:hover {
  box-shadow: inset 0 1px 2px alpha(black, 0.25); }

.titlebar .title, GtkCalendar.header .title,
.header-bar .title {
  text-shadow: 0 -1px alpha(black, 0.7); }

.cell:selected, .cell:selected:focus, .menu .menuitem:hover, .sidebar:selected, .sidebar .view:selected {
	background-image: linear-gradient(to bottom,
                                      #3a67be,
                                      #3e78e6);
	background-color: shade(@theme_selected_bg_color, 0.9);
	border-width: 1px 0;
	border-style: solid;
	border-top-color: #3f7cf1;
	border-bottom-color: #3c73dc;
}

.list, .list-row {
  background-color: @theme_base_color; }

.list-row.button:hover {
  background-color: alpha(white, 0.05); }
.list-row.button:active, .list-row.button:active:hover {
  background-color: alpha(white, 0.02); }
.list-row.button:selected, .list-row.button:selected:hover, .list-row.button:focus, .list-row.button:focus:hover {
  background-color: alpha(white, 0.05); }

.info, .question, .warning, .error {
    text-shadow: 0 -1px @infobar_text_shadow; }

.menubar {
	background-color: @metacity_bg_b; }

.spinbutton.vertical.entry:insensitive {
    border-color: shade(@insensitive_borders, 1.4); }

.notebook tab.top:hover, .notebook tab.top.prelight-page,
.notebook tab.bottom:hover, .notebook tab.bottom.prelight-page,
.notebook tab.left:hover, .notebook tab.left.prelight-page,
.notebook tab.right:hover, .notebook tab.right.prelight-page {
  background-color: alpha(white, 0.025); }

.notebook tab.top {
  border-image: linear-gradient(to bottom,
                                alpha(@borders, 0.7),
                                alpha(@theme_base_color, 0.0)) 0 1 0 1; }
.notebook tab.bottom {
  border-image: linear-gradient(to top,
                                alpha(@borders, 0.7),
                                alpha(@theme_base_color, 0.0)) 0 1 0 1; }
.notebook tab.left {
  border-image: linear-gradient(to right,
                                alpha(@borders, 0.7),
                                alpha(@theme_base_color, 0.0)) 1 0 1 0; }
.notebook tab.right {
  border-image: linear-gradient(to left,
                                alpha(@borders, 0.7),
                                alpha(@theme_base_color, 0.0)) 1 0 1 0; }

.popover {
  background-color: mix(@theme_bg_color,@theme_base_color, 0.2); }

.popover .separator, .separator {
    color: alpha(@borders, 0.3); }

/*
GtkColorSwatch,
GtkColorSwatch:selected,
GtkColorSwatch:hover,
GtkColorSwatch:selected:hover,
GtkColorEditor GtkColorSwatch.color-dark:hover,
GtkColorEditor GtkColorSwatch.color-light:hover {
    border-color: @borders;
    box-shadow: inset 0 2px alpha(black, 0.15), inset 1px 1px alpha(black, 0.15);
}

GtkColorSwatch.color-dark:hover {
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0) 40%,
                                      alpha(white, 0.2)
                                      );

}

GtkColorSwatch.color-light:hover {
    background-image: linear-gradient(to top,
                                      alpha(black, 0) 40%,
                                      alpha(black, 0.3)
                                      );

}

GtkColorChooserWidget #add-color-button,
GtkColorChooserWidget #add-color-button:hover {
    color: @theme_bg_color;
}

GtkColorEditor GtkColorSwatch.color-dark:hover,
GtkColorEditor GtkColorSwatch.color-light:hover {
    background-image: none;
    border-color: @borders;
}

GtkPopover {
    box-shadow: 0 2px 8px 3px alpha(@wm_shadow, 0.4);
}
*/
/* scale */

.scale.trough.highlight:insensitive {
    background-image: linear-gradient(to bottom,
                                  shade(@scale_highlight_bg_b, 0.6),
                                  shade(@scale_highlight_bg_b, 0.7));
}

.scale.trough.vertical.highlight:insensitive {
    background-image: linear-gradient(to right,
                                  shade(@scale_highlight_bg_b, 0.6),
                                  shade(@scale_highlight_bg_b, 0.7));
}

.scale.trough:insensitive {
    box-shadow: inset 0 1px 2px alpha(black, 0.1);
    background-image: linear-gradient(to bottom,
                                  shade(@trough_bg_color_a, 1.5),
                                  shade(@trough_bg_color_a, 1.6));
}

.scale.trough.vertical:insensitive {
    box-shadow: inset 1px 0 2px alpha(black, 0.1);
    background-image: linear-gradient(to right,
                                  shade(@trough_bg_color_a, 1.5),
                                  shade(@trough_bg_color_a, 1.6));
}

/************
 * Toolbars *
 ************/
.action-bar,
.inline-toolbar,
.inline-toolbar.toolbar {
  background-image: linear-gradient(to bottom,
                                    shade(@theme_bg_color, 1.05),
                                    shade(@theme_bg_color, 0.9)); }


.primary-toolbar {
    background-image: linear-gradient(to bottom,
                                      @metacity_bg_b,
                                      @theme_bg_color);
}

.toolbar {
    background-color: @metacity_bg_b; }

.search-bar {
  border-style: solid;
  border-color: @borders;
  background-color: shade(@theme_bg_color, 0.9);
  box-shadow: inset 0 3px 3px -1px rgba(0, 0, 0, 0.17); }

/***************
 * Header bars *
 ***************/
.header-bar {
    background-image: linear-gradient(to bottom,
                                      @metacity_bg_b,
                                      @theme_bg_color);
}

.titlebar {
    text-shadow: 0 -1px @button_text_shadow;
    background-image: linear-gradient(to bottom,
                                      @wm_bg_a,
                                      @wm_bg_b);
}

.titlebar.selection-mode, GtkCalendar.selection-mode.header, .header-bar.selection-mode {
  box-shadow: inset 0 1px alpha(white, 0.3); }

/********
 * Misc *
 ********/
.scale-popup .button.flat:hover {
  background-color: shade(@theme_bg_color, 1.2); }

