/* set default namespace to XUL */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**************************** Tab Container ***************************/
#tabcontainer {
  box-shadow: inset 0px -1px #151516,
              inset 0px 1px #151516,
              inset 0 5px rgba(0,0,0,0.01),
              inset 0 4px rgba(0,0,0,0.015),
              inset 0 3px rgba(0,0,0,0.02), 
              inset 0 2px rgba(0,0,0,0.025), 
              inset 0 1px rgba(0,0,0,0.03) !important;
  background-color: #2A2A2B !important;
}

.toolbar-primary {
  background-color: #2A2A2B !important;
}

/**************************** Mail Toolbars ***************************/
#mail-toolbox,
.mail-toolbox,
#chat-view-toolbox {
  -moz-appearance: none !important;
  border-bottom: 1px solid #151516 !important;
  border-top: none !important;
  box-shadow: inset 0px 1px rgba(255,255,255,0.15) !important;

  background: -moz-linear-gradient(#3f4042, #37383a) !important;
}

/* Tab background */
tab {
  background-color: rgba(0,0,0,0) !important;
}

/*Active tab */
.tab-background-middle[selected="true"] {
  background-color: rgba(0,0,0,0) !important;
}

.tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before {
  background-image: url("images/tabActiveStart.svg") !important;
}

.tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before {
  background-image: url("images/tabActiveEnd.svg") !important;
}

.tab-background-middle[selected=true] {
  background-image: url("images/tabActiveMiddle.svg") !important;
}


.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after {
  background-image: none !important;
}

.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after {
  background-image: none !important;
}

.tab-background-middle::after[selected=true] {
  background-image: none !important;
}

/* Active tab */
.tabmail-tab > .tab-stack > .tab-content > .tab-text {
  color: #F3F3F5 !important;
}

/* Inactive tab */
.tabmail-tab > .tab-stack  > .tab-background:not([selected=true]) {
  background-image: none !important;
}

.tabmail-tab > .tab-stack > .tab-content:not([selected=true]) > .tab-text {
  color: #ffffff !important;
}

/* Color text when the tab is hovered */
.tabmail-tab:hover > .tab-stack > .tab-content:not([selected=true]) > .tab-text {
  color: #ffffff !important;
}

/* Replace the default close tab icon with a white one */
.tab-close-button {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHhSURBVDiNpZMxq9pQGIbfUxT0gA6xIIhQqhWdMonQErj+AMnUqf4AFbpl6urNT+gi3CUG6eJvaJ3awVYynsCVOnhDGm46hBA5UThdVI4Xp94PzvC98H58PN97iBACz6kXz3IDyMgNIYQAeAPgJQBXCPH3qCsAmgAeAdwLeW0hBI49AdCybXvs+/5G07QeAAWAomlaz/f9jW3bYwAtAOTskwY0LMsah2GYep4nfN9/0DStdzQ/eJ4nwjBMLcsaA2icfOS0DSHk7WKxmFWr1ddCCGSzWWQyGQ8ADodDZb/fgxCC7Xb7u9vt9oUQP55CdHVdnzmOwzjniOMYSZJUkiSpxHEMzjkcx2G6rs8AuGduMg9CSLlYLH6cTCbvm81mSwbsui4bDAbzKIo+CyH+nPSnZ9w3Go1fpVKJcs4hP0VRaK1W+wlgf3E5iYHS6XTeTafTSRRFld1udzE5n8+jUCh4/X5/sFqtvp9PLENcLpdfOOevkiQBAKzXawYA9Xq9BQCUUuRyuU273f5wDeLjaDT6GgTBLk1TMMaYYRhzwzDmjDGWpimCINgNh8Nvx0BdDdKNqqp3pmk6lNJbAGUAZUrprWmajqqqdwBurgZJGqIB+ASgLOnlo6bJ5osg/W89+zf+A+a5JmPghr43AAAAAElFTkSuQmCC) !important;
}

/* Replace default appmenu icon with a white one */
.button-appmenu {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/gD+AP7rGNSCAAAACXBIWXMAAA3WAAAN1gGQb3mcAAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAsklEQVRIx2NgGAUDDRjR+GoMDAxSFJr5hoGB4QqMw4ImKfXt27f9lJjOxcXliMxHt4Dh3bt3VA0idAueycjITKfQzGd4fcDAwLCKlj6Qev/+PUVxICgo6MjAwHALpw8ePXpETQ9gxoG+vv4Qj4Pnz59TFAeSkpL44+DGjRvU9ADWoqKAQjMn4PUBA63j4MGDBxTFgYKCAv44OHPmDDU9gBEHOgwMDFkUmjmNAam4HgUDDwCCaCsver+O4AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMS0xMS0xNFQxMzozMjo0OSswMTowMJj/EB0AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEtMTEtMTRUMTM6MzI6NDkrMDE6MDDpoqihAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==) !important;
-moz-image-region: auto !important;
}

/************************ Primary Toolbar Buttons *********************/
.mail-toolbox .toolbarbutton-menubutton-button,
.mail-toolbox .toolbarbutton-menubutton-dropmarker,
.mail-toolbox .toolbarbutton-1,
.toolbox-top .toolbarbutton-menubutton-button,
.toolbox-top .toolbarbutton-menubutton-dropmarker,
.toolbox-top .toolbarbutton-1 {
  -moz-appearance: none !important;    
  color: #F3F3F5 !important;
}

.mail-toolbox toolbarbutton:hover:not([disabled]):not(:-moz-lwtheme) .toolbarbutton-text,
.toolbox-top toolbarbutton:hover:not([disabled]):not(:-moz-lwtheme) .toolbarbutton-text {
  color: #F3F3F5 !important;
}

.mail-toolbox .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
.mail-toolbox .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon,
.mail-toolbox .toolbarbutton-menubutton-button[disabled="true"],
.mail-toolbox .toolbarbutton-menubutton-dropmarker[disabled="true"],
.mail-toolbox .toolbarbutton-1[disabled="true"],
.toolbox-top .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
.toolbox-top .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon,
.toolbox-top .toolbarbutton-menubutton-button[disabled="true"],
.toolbox-top .toolbarbutton-menubutton-dropmarker[disabled="true"],
.toolbox-top .toolbarbutton-1[disabled="true"] {
  opacity: .5 !important;
  color: #F3F3F5 !important;
}

.mail-toolbox .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.mail-toolbox toolbarbutton[type="menu-button"]:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.mail-toolbox .toolbarbutton-1:not([disabled="true"]):not([checked="true"]):not(:active):hover,
.toolbox-top .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.toolbox-top toolbarbutton[type="menu-button"]:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbox-top .toolbarbutton-1:not([disabled="true"]):not([checked="true"]):not(:active):hover {
  border-image: url("images/button-border-dark.png") 2 2 3 2 / 2px 2px 3px 2px stretch !important;
}

.mail-toolbox .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.mail-toolbox toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.mail-toolbox toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker,
.mail-toolbox .toolbarbutton-1:not([disabled="true"]):hover:active,
.mail-toolbox .toolbarbutton-1[checked="true"],
.mail-toolbox .toolbarbutton-1[open="true"],

.toolbox-top .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbox-top toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbox-top toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker,
.toolbox-top .toolbarbutton-1:not([disabled="true"]):hover:active,
.toolbox-top .toolbarbutton-1[checked="true"],
.toolbox-top .toolbarbutton-1[open="true"] {
  border-image: url("images/button-active-border-dark.png") 2 2 3 2 / 2px 2px 3px 2px stretch !important;
  box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.2) inset !important; 
  text-shadow: none !important;
}

/*
toolbarbutton[type="menu-button"] {
  -moz-appearance: none !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.toolbarbutton-1,
toolbarbutton[type="menu-button"] {
  margin: 1px 3px !important;
}

toolbox[labelalign="end"] .toolbarbutton-1,
toolbox[labelalign="end"] .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal !important;
}

toolbar[iconsize="small"][mode="icons"] .toolbarbutton-1,
toolbar[iconsize="small"][mode="icons"] toolbarbutton[type="menu-button"] {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.toolbarbutton-menubutton-dropmarker {
  -moz-border-start-style: none !important;
}

.toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.toolbarbutton-menubutton-dropmarker  {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#tabbar-toolbar > .toolbarbutton-1 {
  border: 1px solid transparent!important;
  border-radius: 2px !important; 
  box-shadow: none!important;   
  -moz-transition: none!important; 
  background: transparent !important; 
  }

#tabbar-toolbar > .toolbarbutton-1:not([disabled="true"]):not(:active):hover {
  background: rgb(23,23,23) !important;
  border: 1px solid red !important;   
  box-shadow:  0px 1px 1px rgba(255, 255, 255, 0.04) inset!important;
  -moz-transition: background-color .1s ease-in,
                   border-color .2s ease-in,
                   box-shadow .3s ease-in !important;  
  }  

#tabbar-toolbar > .toolbarbutton-1:not([disabled="true"]):hover:active {
  border: 1px solid green !important;
  background-color: rgb(23,23,23) !important;
  background-image: -moz-linear-gradient(rgba(0,0,0,.08), rgba(0,0,0,.16) 49%, 
               rgba(0,0,0,.08) 51%, rgba(0,0,0,.16))!important;
  box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.65) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.18)!important; 
  text-shadow: none !important;
}*/
/*
.toolbarbutton-1[checked="true"]:not(:active):hover {
  background-color: rgba(0%, 0%, 0%, .3) !important;
  -moz-transition: background-color .4s !important;
  color: green !important;
}

.toolbarbutton-menubutton-button > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-icon {
  -moz-margin-end: 0 !important;
  width: 18px !important;
  height: 18px !important;
}

toolbar[iconsize="small"] .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbar[iconsize="small"] .toolbarbutton-1 > .toolbarbutton-icon {
  margin: 1px !important;
  width: 16px !important;
  height: 16px !important;
}

.toolbarbutton-1[checked="true"] {
  color: #006AA8 !important;
}*/

/************************* Text Input Boxes ***************************/
.mail-toolbox textbox {
  -moz-appearance: none !important;
  border-width: 1px !important;
  border-radius: 2px !important;
  border-image: url("images/generic-border-dark.png") 2 2 3 2 / 2px 2px 3px 2px stretch !important;
  color: #F3F3F5 !important;
  background-color: #2B2B2C !important;
  background-clip: padding-box !important;
  box-shadow: inset 0 1px rgba(0,0,0,0.1) !important;
  padding-bottom: 3px !important;
}

.mail-toolbox textbox[focused="true"] {
  -moz-appearance: none !important;
  border-width: 1px !important;
  border-radius: 2px !important;
  border-image: url("images/generic-border-focused-dark.png") 2 2 3 2 / 2px 2px 3px 2px stretch !important;
  color: #F3F3F5 !important;
  background-color: #2B2B2C !important;
  background-clip: padding-box !important;
  box-shadow: inset 0 1px rgba(0,0,0,0.1) !important;
  padding-bottom: 3px !important;
}

.mail-toolbox textbox[disabled="true"] {
  border-image: url("images/generic-border-dark.png") 2 2 3 2 / 2px 2px 3px 2px stretch !important;
  color: #898995 !important;
  background: #434446 !important;
  box-shadow: none !important;
}

/*
.numberbox-input-box,
.spinnbuttons-box,
.spinbuttons-button {
  -moz-appearance: none !important;
  background: transparent !important;
  border: transparent !important;
}

.spinbuttons-button {
  border-left: 2px solid !important;
  -moz-border-left-colors:    rgba(0, 0, 0, 0.32) rgba(255, 255, 255, 0.04)!important;
}

.spinbuttons-up {
  -moz-appearance: none !important;
  background-image: url("images/arrow-up.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

.spinbuttons-up:not([disabled]):hover,
.spinbuttons-up:not([disabled]):active:hover {
  background-image: url("images/arrow-up-hov.gif") !important;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("images/arrow-up-dis.gif") !important;
}

.spinbuttons-down {
  -moz-appearance: none !important;
  background-image: url("images/arrow-down.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

.spinbuttons-down:not([disabled]):hover,
.spinbuttons-down:not([disabled]):active:hover {
  background-image: url("images/arrow-down-hov.gif") !important;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("images/arrow-down-dis.gif") !important;
}*/

/*************************** Dropmarker *******************************/
dropmarker {
  -moz-appearance: none!important;
  width: 16px!important;
  height: 16px!important;
  -moz-box-align: center!important;
  -moz-box-pack: center!important;
  list-style-image: url("images/arrow-dn[dropmarker].png")!important;
  -moz-image-region: auto!important;
}

dropmarker:hover:active:not([disabled="true"]) {
  padding-top: 2px!important;
  padding-bottom: 0px!important;
  -moz-padding-start: 2px!important;
  -moz-padding-end: 0px!important;
}

dropmarker[disabled="true"] {
  list-style-image: url("images/arrow-dn-dis.gif") !important;
}

#button-privacy .toolbarbutton-menubutton-dropmarker {
  border-left: 1px solid rgba(0,0,0,0.95) !important;
  border-top: none !important;
  border-radius: 0px 0px 2px 2px !important;
}

#button-privacy .toolbarbutton-menubutton-button {
  border-radius: 2px 2px 0px 0px !important;
}
