NautilusNotebook.notebook tab.top:active,
NautilusNotebook.notebook tab.top:active:hover,
NemoNotebook.notebook tab.top:active,
NemoNotebook.notebook tab.top:active:hover,
EmpathyChatWindow .notebook tab.reorderable-page:active,
EmpathyChatWindow .notebook tab.reorderable-page:active:hover,
GeditWindow .notebook tab.top:active,
GeditWindow .notebook tab.top:active:hover,
EphyNotebook.notebook tab.top:active,
EphyNotebook.notebook tab.top:active:hover {
    border-image: -gtk-scaled(url("borders/tab-active-dark.png"),url("borders/tab-active-dark@2.png")) 2 7 2 7 / 2px 7px 2px 7px stretch;
}

TerminalWindow .notebook tab.reorderable-page:active {
    background-image: linear-gradient(to bottom, @metacity_bg_b, shade(@metacity_bg_b, 0.9));
    border-image: -gtk-scaled(url("borders/terminal-tab-active-dark.png"),url("borders/terminal-tab-active-dark@2.png")) 2 7 2 7 / 2px 7px 2px 7px stretch;
}

NautilusNotebook.notebook tab.top:hover,
NemoWindow .notebook tab.top:hover,
EmpathyChatWindow .notebook tab.top:hover,
GeditWindow .notebook tab.top:hover,
EphyNotebook.notebook tab.top:hover {
    background-color: shade(@theme_bg_color, 0.8);
}

TerminalWindow .notebook tab GtkLabel,
TerminalWindow .notebook tab .active-page GtkLabel {
    color: mix(@dark_fg_color, @dark_bg_color, 0.40);
    text-shadow: 0 -1px alpha(black, 0.7);
}

EmpathyChatWindow .notebook.header.frame.top {
    border-width: 0 0 1px 0;
    border-color: shade(@borders, 1.2);
}
