NemoWindow .notebook,
NautilusNotebook.notebook,
EmpathyChatWindow .notebook,
EphyNotebook.notebook,
GeditWindow .notebook {
    border-top-width: 0;
}

NautilusNotebook.notebook,
NemoWindow .notebook,
EmpathyChatWindow .notebook,
GeditWindow .notebook,
EphyNotebook.notebook,
TerminalWindow .notebook {
    -GtkNotebook-tab-overlap: 6;
}

NautilusNotebook.notebook tab.top:active,
NautilusNotebook.notebook tab.top:active:hover,
NemoNotebook.notebook tab.top:active,
NemoNotebook.notebook tab.top:active:hover,
EmpathyChatWindow .notebook tab.top:active,
EmpathyChatWindow .notebook tab.top:active:hover,
GeditWindow .notebook tab.top:active,
GeditWindow .notebook tab.top:active:hover,
EphyNotebook.notebook tab.top:active,
EphyNotebook.notebook tab.top:active:hover {
    border-image: -gtk-scaled(url("borders/tab-active.png"),url("borders/tab-active@2.png")) 2 7 2 7 / 2px 7px 2px 7px stretch;
    border-width: 0px 5px 1px 5px;
    border-style: solid;
    border-color: transparent;
    background-color: @wm_bg_b;
    background-image: linear-gradient(to bottom,
                                      @notebook_tab_gradient_a,
									                    @notebook_tab_gradient_b);
    box-shadow: none;
}
/*
NautilusNotebook.notebook tab.reorderable-page:hover,
NemoNotebook.notebook tab.reorderable-page:hover,
GeditWindow .notebook tab.reorderable-page:hover,
EphyNotebook .notebook tab.reorderable-page:hover {
    border-top: 1px solid alpha(black, 0.03);
    border-bottom: 1px solid alpha(black, 0.02);
}*/

NautilusNotebook.notebook tab.top,
NemoWindow .notebook tab.top,
EmpathyChatWindow .notebook tab.top,
GeditWindow .notebook tab.top,
EphyNotebook.notebook tab.top,
NautilusNotebook.notebook tab.top:hover,
NemoWindow .notebook tab.top:hover,
EmpathyChatWindow .notebook tab.top:hover,
GeditWindow .notebook tab.top:hover,
EphyNotebook.notebook tab.top:hover,
NautilusNotebook.notebook.header,
NemoWindow .notebook.header,
EmpathyChatWindow .notebook.header,
GeditWindow .notebook.header,
EphyNotebook.notebook.header {
    background-color: shade(@theme_base_color, 0.98);
    box-shadow: inset 0 5px alpha(black, 0.01),
				inset 0 4px alpha(black, 0.015),
				inset 0 3px alpha(black, 0.02), 
				inset 0 2px alpha(black, 0.025), 
				inset 0 1px alpha(black, 0.03);
    border-top-style: none;
    border-bottom: 1px solid shade(@borders, 1.2);
}

NautilusNotebook.notebook tab.top,
NemoWindow .notebook tab.top,
EmpathyChatWindow .notebook tab.top,
GeditWindow .notebook tab.top,
EphyNotebook.notebook tab.top,
NautilusNotebook.notebook tab.top:hover,
NemoWindow .notebook tab.top:hover,
EmpathyChatWindow .notebook tab.top:hover,
GeditWindow .notebook tab.top:hover,
EphyNotebook.notebook tab.top:hover {
    border-image: linear-gradient(to bottom,
                                  shade(@borders, 1.1) 0px,
                                  shade(@borders, 1.1) 0px,
                                  alpha(@borders, 0.1)) 0 1 0 1;
}

NautilusNotebook.notebook tab.top:hover,
NemoWindow .notebook tab.top:hover,
EmpathyChatWindow .notebook tab.top:hover,
GeditWindow .notebook tab.top:hover,
EphyNotebook.notebook tab.top:hover {
    background-color: shade(@theme_base_color, 0.95);
}

NautilusNotebook.notebook tab.top:hover,
NemoWindow .notebook tab.top:hover,
EmpathyChatWindow .notebook tab.top:hover,
GeditWindow .notebook tab.top:hover,
EphyNotebook.notebook tab.top:hover {
    background-color: shade(@theme_base_color, 0.95);
    border-image: linear-gradient(to bottom,
                                  shade(@borders, 1.1) 0px,
                                  shade(@borders, 1.1) 0px,
                                  alpha(@borders, 0.1)) 0 1 0 1;
}

/*
 * GNOME Terminal
 */
TerminalWindow .notebook tab.reorderable-page:active {
    background-image: linear-gradient(to bottom, @metacity_bg_b, shade(@metacity_bg_b, 0.99));
    border-image: -gtk-scaled(url("borders/terminal-tab-active.png"),url("borders/terminal-tab-active@2.png")) 2 7 2 7 / 2px 7px 2px 7px stretch;
    border-width: 0px 5px 1px 5px;
    border-style: solid;
    border-color: transparent;
    box-shadow: none;
}

TerminalWindow .notebook tab.top,
TerminalWindow .notebook.header {
    border-top: 1px solid shade(@terminal_bg, 0.7);
    border-bottom: 1px solid shade(@terminal_bg, 0.7);
    background-color: shade(@terminal_bg, 1.1);
    box-shadow: inset 0 5px alpha(black, 0.01),
				inset 0 4px alpha(black, 0.015),
				inset 0 3px alpha(black, 0.02), 
				inset 0 2px alpha(black, 0.025), 
				inset 0 1px alpha(black, 0.03);
}

TerminalWindow .notebook {
    border-width: 0;
}

TerminalWindow .notebook tab.reorderable-page:active:hover {
    border-top-style: none;
}

TerminalWindow .notebook tab.reorderable-page:hover {
    background-color: shade(@terminal_bg, 1.2);
    border-color: shade(@terminal_bg, 0.7);
}

TerminalWindow .notebook tab.top {
    border-image: linear-gradient(to bottom,
                                  shade(@terminal_bg, 0.7),
                                  @terminal_bg) 0 1 0 1;
}

TerminalWindow .notebook tab GtkLabel,
TerminalWindow .notebook tab .prelight-page GtkLabel,
TerminalWindow .notebook tab .button,
TerminalWindow .notebook .prelight-page .button {
    text-shadow: 0 -1px shade(@terminal_bg, 0.5);
    icon-shadow: 0 -1px shade(@terminal_bg, 0.5);
    color: alpha(@theme_selected_fg_color, 0.5);
}

TerminalWindow .notebook tab .prelight-page GtkLabel {
    color: alpha(@theme_selected_fg_color, 0.8);
}

TerminalWindow .notebook tab .active-page GtkLabel,
TerminalWindow .notebook .active-page .button {
    text-shadow: 0 1px @wm_title_shadow;
    icon-shadow: 0 1px @wm_title_shadow;
    color: @theme_fg_color;
}

TerminalWindow .notebook tab .button:hover {
    border-color: alpha(white, 0.1);
    color: alpha(@theme_selected_fg_color, 0.8);
}

/*
 * Nemo
 */
NemoNotebook.notebook tab.reorderable-page:hover {
    border-top: 1px solid alpha(black, 0.03);
    border-bottom: 1px solid alpha(black, 0.02);
}

NemoNotebook.notebook {
    border-top-width: 0px;
}

NemoNotebook.notebook.header {
    border-width: 0 0 1px 0;
    border-bottom-color: shade(@borders, 1.2);
}

/*
 * Empathy
 */
EmpathyChatWindow .notebook {
    border-color: transparent;
    border-width: 0;
}

EmpathyChatWindow .notebook.header.frame.top {
    border-width: 0 0 1px 0;
    border-color: alpha(black, 0.1);
}

EmpathyChatWindow .notebook tab.top {
    padding: 6px 20px 4px;
}

EmpathyChatWindow .menubar {
    background-image: linear-gradient(to bottom,
                                      @metacity_bg_b,
                                      @notebook_tab_gradient_a);
    border-bottom: 1px solid @borders;
}
