$terminal_bg: nth($_base_color, 2);
$terminal_fg: white;

//
// Evolution
//
// needed for webkit/GtkStyle/Evolution compatibility
GtkHTML {
  background-color: $base_color;
  color: $text_color;

  &:active {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }
}

//
// Sushi
//
// used by gnome-font-viewer and sushi
SushiFontWidget {
  padding: 6px 12px;
}

//
// GNOME Terminal
//
TerminalWindow.background {
  background-color: transparent;
}

TerminalWindow {

  .notebook tab.reorderable-page,
  .notebook tab.reorderable-page:hover {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .scrollbars-junction, .scrollbar.trough {
    background-color: $terminal_bg;
	  border-color: $terminal_bg;
	  border-image: none;
  }

  .scrollbar.slider.vertical {
    @include _border(scrollbar-slider-dark, $prefix:assets, $radius: 0, $width: 8px 7px 8px 8px, $image-width: 8 7 8 8 / 8px 7px 8px 8px);

    &:hover { @include _border(scrollbar-slider-hover-dark, $prefix:assets, $radius: 0, $width: 8px 7px 8px 8px, $image-width: 8 7 8 8 / 8px 7px 8px 8px); }

    &:active { @include _border(scrollbar-slider-active-dark, $prefix:assets, $radius: 0, $width: 8px 7px 8px 8px, $image-width: 8 7 8 8 / 8px 7px 8px 8px); }
  }
}

//
// Nautilus
//
.nautilus-canvas-item {
  border-radius: 2px;
}

.nautilus-desktop.nautilus-canvas-item {
  color: $selected_fg_color;
  text-shadow: 1px 1px black;

  &:active { color: $text_color; }
  &:selected { color: $selected_fg_color; }
  &:active, &:prelight, &:selected { text-shadow: none; }
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
  color: mix($fg_color, $bg_color, 50%);

  &:selected, &:selected:focus { color: mix($selected_fg_color, $selected_bg_color, 80%); }
}

NautilusNotebook.notebook {
  background-color: $base_color;
}

NautilusQueryEditor .search-bar.toolbar {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  box-shadow: none;
}

$disk_space_unknown: transparentize($fg_color, 0.5);
$disk_space_used: transparentize($selected_bg_color, 0.2);
$disk_space_free: darken($bg_color, 3%);

.disk-space-display {
  border-style: solid;
  border-width: 1px;

  &.unknown {
    background-color: $disk_space_unknown;
    border-color: darken($disk_space_unknown, 10%);
  }
  &.used {
    background-color: $disk_space_used;
    border-color: darken($disk_space_used, 10%);
  }
  &.free {
    background-color: $disk_space_free;
    border-color: darken($disk_space_free, 10%);
  }
}

.nautilus-circular-button, .nautilus-circular-button:focus {
  border-radius: 20px;
  outline-radius: 20px;
}

.nautilus-circular-button { @extend %circular-button; }

//
// Nemo
//
NemoWindow .sidebar .frame {
	border-width: 0;
}

NemoWindow GtkSeparator.separator.horizontal {
	color: $borders_color;
}

.nemo-desktop.nemo-canvas-item {
  @extend .nautilus-desktop.nautilus-canvas-item;
}

//
// Gedit
//
@if $darker=='true' {
  .gedit-headerbar-paned { background-color: darken(nth($_bg_color, 2), 5%); }
}

.open-document-selector-treeview.view {
    padding: 3px 6px 3px 6px;
    border-color: $base_color;  // disable borders, making them transparent doesn't work for some reason

    &:prelight { background-color: if($variant=='light', transparentize(black, 0.95), transparentize(white, 0.95)); }
}

/* Only normal state is handle */
.open-document-selector-name-label {
    color: $fg_color;
}

/* Only normal state is handle */
.open-document-selector-path-label {
    color: mix($fg_color, $base_color, 50%);
    font-size: smaller;

    &:selected { color: transparentize($selected_fg_color, 0.1); }
}

.gedit-document-panel {
  background-color: $sidebar_bg;
}

// sidepane close button styling
.gedit-document-panel {

  .list-row .button.flat {
    color: transparent;
    border-width: 1px;

    &:hover {
      color: $fg_color;
      background-image: none;
      border-color: transparentize($fg_color, 0.8);
      border-width: 1px;
      border-image: none;
    }
    &:active {
      background-color: transparentize(black, 0.9);
      background-image: none;
      border-color: transparentize(black, 0.8);
      border-image: none;
      border-width: 1px;
    }
  }
  .prelight-row .button.flat {
    color: transparentize($fg_color, 0.3);
    border-color: transparent;
  }
  .list-row:selected .button.flat,
  .prelight-row:selected .button.flat {
    color: transparentize($selected_fg_color, 0.3);
    border-color: transparentize($selected_fg_color, 1);

    &:hover {
      color: $selected_fg_color;
      border-color: transparentize($selected_fg_color, 0.5);
      icon-shadow: none;
    }
    &:active {
      border-image: none;
      border-color: transparentize(black, 0.8);
      background-color: transparentize(black, 0.9);
    }
  }
}

.gedit-document-panel-dragged-row {
  border: 1px solid $borders_color;
  background-color: darken($sidebar_bg, 5%);
  color: $fg_color;
}

.gedit-document-panel-placeholder-row {
  border: none;
  background-color: mix($sidebar_bg, $selected_bg_color, 80%);
  transition: all 100ms ease-in;
}

GeditStatusbar {
  border-top: 1px solid $borders_color;

  @extend %action-bar-background;
}

GeditStatusMenuButton.button.flat,
GeditStatusMenuButton:prelight.button.flat,
GeditStatusMenuButton:checked.button.flat {
  border-image: none;
  border-width: 1px 1px 0 1px;
  border-color: transparentize($borders_color, 1);
  border-radius: 0;
}

GeditStatusMenuButton:prelight.button.flat {
  border-color: $borders_color;
}

GeditStatusMenuButton:checked.button.flat {
  border-color: darken($button_active_gradient_color_a, 5%);
}

GeditViewFrame .gedit-search-slider { @extend %search_slider }

GeditFileBrowserWidget {
  background-color: $base_color;
}

.gedit-search-entry-occurrences-tag {
  color: transparentize($fg_color, 0.4);
  margin: 2px;
  padding: 2px;
}

%search_slider {
  padding: 6px;
  background-color: lighten($bg_color, 2%);
  border-color: lighten($borders_color, 5%);
  border-radius: 0 0 3px 3px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

//
// Gnome Builder
//

//Search entry that slides down from top of editor
GbEditorFrame .gb-search-slider { @extend %search_slider; padding: 2px; }

.gb-search-entry-occurrences-tag { @extend .gedit-search-entry-occurrences-tag }

GdTaggedEntry { color: $fg_color; }

// Preferences sidebar style
.preferences.sidebar {

  GtkViewport { border: none; }
  GtkListBox { background-color: $bg_color; }
  GtkListBoxRow { padding: 10px; }
}

// Preference page language style
GbPreferencesPageLanguage  {

  GtkSearchEntry {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  GtkScrolledWindow { border-top-width: 0; }
}

// Command Bar styling
GtkBox.gb-command-bar-box {
  border: none;
  border-top: 1px solid nth($_borders_color, 2);
  background-image: linear-gradient(to bottom, nth($_base_color, 2));
  box-shadow: inset 0px 2px 3px -1px transparentize(black, 0.7);

  GtkLabel { color: nth($_fg_color, 2); }
}

GtkEntry.gb-command-bar-entry.entry.flat,
GtkEntry.gb-command-bar-entry.entry.flat:focus {
  font-family: Monospace;
  background-image: none;
  background-color: transparent;
  padding: 6px 6px 6px 6px;
  color: nth($_fg_color, 2);

  &:selected,
  &:selected:focus {
    @extend %selected_items;
  }
}

GbSourceStyleSchemeWidget GtkSourceView {
    font-family: Monospace;
}

GtkScrolledWindow.gb-linked-scroller {
    border-top: none;
}

// Disable various animatinos that are enabled by default and really annoying
// to the overall flow of Builder.
GbSearchDisplayGroup GtkListBox .list-row, GbDocumentStack .button {
    transition: none;
}

GbViewStack GtkBox.header.notebook,
GbEditorWorkspace > GtkPaned > GtkBox > GtkBox.header.notebook {
    border-bottom: 1px solid $borders_color;
}

GbViewStack.focused GtkBox.header.notebook {
  background-image: linear-gradient(to bottom,
                                    mix($button_gradient_color_a, $button_gradient_color_b, 50%),
                        					  $button_gradient_color_b);
  box-shadow: inset 0 1px $highlight_shadow;

 .button.dim-label { opacity: 1; }
}

//
// Epiphany
//
EphyWindow .floating-bar { // Epiphany overrides the floating-bar style, so reset it
  background-image: none;
  color: $fg_color;
  box-shadow: none;
  text-shadow: 0 1px $light_text_icon_shadow;
}

//
// Gnome Documents
//
.documents-load-more.button {
  border-image: none;
  border-color: $borders_color;
  border-width: 1px 0 0;
  border-radius: 0;

  &:active, &:checked { border-color: darken($button_active_gradient_color_a, 5%); }
}

.documents-icon-bg,
.documents-collection-icon {
  background-color: mix($bg_color, $fg_color, 50%);
  border-radius: 3px;
  color: $fg_color;
}

.documents-entry-tag {
  background-color: $selected_bg_color;
  color: $selected_fg_color;
  border-radius: 2px;
  border-width: 0;
  margin: 2px;
  padding: 4px;

  &:hover { background-color: lighten($selected_bg_color, 4%) }
  &:active { background-color: darken($selected_bg_color, 4%) }

  .toolbar .linked &.button {
    background: none;
    border: none;
    box-shadow: none;
    icon-shadow: none;

    &:hover { color: transparentize($selected_fg_color, 0.3) }
  }
}

.content-view.document-page {
  border-style: solid;
  border-width: 3px 3px 6px 4px;
  border-image: url("assets/thumbnail-frame.png") 3 3 6 4;
}

//
// Baobab
//
.cell.baobab-level-cell,
.cell.baobab-level-cell:hover,
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
	background-image: none;
}

BaobabRingschart.subfolder-tip {
  border-radius: 2px;
  border-style: none;
  padding: 3px 3px 3px 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: $selected_fg_color;
}

//
// Shotwell
//
LibraryWindow {

  GtkPaned.horizontal {
    -GtkPaned-handle-size: 1;
    background-color: $bg_color;
	  background-image: none;
	  border-width: 0;
  }
  GtkFrame.frame { border-width: 0; }
  .bottom-toolbar.toolbar { border-color: transparentize(black, 0.25); }
}

//
// Totem
//
TotemGrilo.vertical GdMainView.frame {
  border-width: 0;
}

//
// File-roller
//
FrWindow.background GtkBox.vertical GtkTreeView.view {
  background-color: $sidebar_bg;
}

//
// Fallback Mode/Budgie Panel
//
PanelToplevel,
PanelWidget,
PanelApplet,
.gnome-panel-menu-bar {
  color: nth($_fg_color, 2);
  text-shadow: 0 -1px nth($_light_text_icon_shadow, 2);
  background-image: linear-gradient(to bottom,
                                    nth($_wm_bg_a, 2),
                                    nth($_wm_bg_b, 2));
  box-shadow: inset 0 2px nth($_wm_highlight, 2),
              inset 0 1px black,
              inset 0 -1px black;
}

// Applications Places System menubar
.gnome-panel-menu-bar.menubar > .menuitem:hover,
PanelApplet > GtkMenuBar.menubar > .menuitem:hover {
  border-radius: 0;
  @include button(active, $dark:'true', $border:'false');
  box-shadow: inset 0 1px 2px transparentize(black, 0.8),
              inset 1px 0 transparentize(black, 0.4),
              inset -1px 0 transparentize(black, 0.4),
              inset 0 1px transparentize(black, 0.1),
              inset 0 -1px transparentize(black, 0.45);
}

// Panel buttons
PanelApplet .button,
PanelApplet .button:focus {
  @include button(normal, $dark:'true', $border:'false');

  @extend %panelbutton;

  &:hover {
    @include button(hover, $dark:'true', $border:'false');

    @extend %panelbutton;
  }
  &:active,
  &:active:hover,
  &:checked,
  &:checked:hover {
    @include button(active, $dark:'true', $border:'false');

    border-image: none;
    border-width: 3px;
    border-radius: 5.5px;
    icon-shadow: none;

    box-shadow: inset 0 1px 2px transparentize(black, 0.8),
                inset 1px 0 transparentize(black, 0.4),
                inset -1px 0 transparentize(black, 0.4),
                inset 0 1px transparentize(black, 0.1),
                inset 0 -1px transparentize(black, 0.45);
  }
}

%panelbutton {
  border-image: none;
  border-width: 3px;
  border-radius: 5px;
  icon-shadow: none;

  box-shadow: inset -2px 0 transparentize(white, 0.95),
              inset 2px 0 transparentize(white, 0.95),
              inset 0 2px transparentize(white, 0.88),
              inset 0 1px transparentize(black, 0.4),
              inset 0 -1px transparentize(black, 0.2),
              inset 1px 0 transparentize(black, 0.4),
              inset -1px 0 transparentize(black, 0.4);

}

WnckPager {
  color: mix(nth($_fg_color, 2), black, 50%);
  &:selected { color: $selected_bg_color }
  &:focus:selected { background-color: red; color: green; background-image: none;}
}

ClockBox {
  color: nth($_fg_color, 2);
  text-shadow: 0 -1px nth($_light_text_icon_shadow, 2);
}

// Xfce Panel
.xfce4-panel.panel {
  background-color: #3C3E40;

  .button.flat {
    background-color: transparentize(#3C3E40, 1);
    border-radius: 0;

    text-shadow: 0 -1px nth($_light_text_icon_shadow, 2);
    icon-shadow: 0 -1px nth($_light_text_icon_shadow, 2);

    &:hover { @include button(hover, $dark:'true'); border-radius: 0;}
    &:active, &:checked { @include button(active, $dark:'true'); border-radius: 0; }
  }
}

// Elementary Apps

//
// Birdie
//
BirdieWidgetsTweetList * {
  background-image: none;
  background-color: transparent;
}

//
// Marlin / Pantheon Files
//
MarlinViewWindow GtkIconView.view:selected,
MarlinViewWindow GtkIconView.view:selected:focus,
MarlinViewWindow GtkIconView.view:selected:hover,
MarlinViewWindow GtkIconView.view:selected:focus:hover {
  background-color: transparent;
}

MarlinViewWindow FMListView,
MarlinViewWindow FMColumnView {
  outline-color: transparent;
}

MarlinViewWindow FMListView .cell:selected,
MarlinViewWindow FMListView .cell:selected:focus,
MarlinViewWindow FMListView .cell:selected:hover,
MarlinViewWindow FMListView .cell:selected:focus:hover,
MarlinViewWindow FMColumnView .cell:selected,
MarlinViewWindow FMColumnView .cell:selected:focus,
MarlinViewWindow FMColumnView .cell:selected:hover,
MarlinViewWindow FMColumnView .cell:selected:focus:hover {
  background-image: none;
  border: none;
}

MarlinViewWindow *:selected,
MarlinViewWindow *:selected:focus {
	color: $selected_fg_color;
	background-color: $selected_bg_color;
  outline-color: transparent;
}

.marlin-pathbar.pathbar {
  @include entry(normal, $darker);

  &:focus { @include entry(focus, $darker) }
  &:insensitive { @include entry(insensitive, $darker) }
  &:active, &:checked {
    background-image: none;
    background-color: transparentize(black, 0.85);
  }
}

//
// Gala
//
.gala-notification {
    border: 1px solid if($variant=='light', rgba(0, 0, 0, 0.35), $borders_color);
    border-radius: 3px;
	  box-shadow: inset 0 1px $highlight_shadow,
		            inset 0 -1px transparentize(black, 0.95),
                0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, transparentize(lighten($bg_color, 5%), 0.05), transparentize($bg_color, 0.05));
    background-color: transparent;

  .title, .label {
    color: $fg_color;
    text-shadow: 0 #{$shadow_pos}px $light_text_icon_shadow;
  }
}

//
// Wingpanel
//
.panel {
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px transparentize(black, 0.4);
  icon-shadow: 0 1px 2px transparentize(black, 0.4);
}

.panel-shadow {
  background-image: none;
  background-color: transparent;
}

.panel .menu {
  box-shadow: none;
}

.panel .menu .menuitem {
  font-weight: normal;
  text-shadow: none;
  icon-shadow: none;
}

.panel .menubar .menuitem:hover {
  background-color: transparent;
}

.panel .window-frame.menu.csd,
.panel .window-frame.popup.csd {
  box-shadow: none;
}

.panel .menu .window-frame.menu.csd,
.panel .menu .window-frame.popup.csd {
  box-shadow: 0 0 0 1px transparentize(black, 0.8),
              0 10px 20px transparentize(black, 0.81),
              0 6px 6px transparentize(black, 0.77);
}

.composited-indicator {
  background-color: transparent;
  color: white;
  text-shadow: 0 1px 2px transparentize(black, 0.4);
  icon-shadow: 0 1px 2px transparentize(black, 0.4);
}

.composited-indicator > GtkWidget > GtkWidget:first-child {
  padding: 0 2px;
}

.panel-app-button > GtkWidget > GtkWidget:first-child {
  padding: 0 2px 0 4px;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
  border-style: none;
  background-image: none;
  box-shadow: none;
}

.composited-indicator > .popup > .menu {
  padding-top: 8px;
  padding-bottom: 8px;
}

.panel .menu .spinner,
.menu .spinner { opacity: 1 } // Fixes sound indicator buttons

//
// Slingshot
//
SlingshotWidgetsAppEntry.button:hover,
SlingshotWidgetsSearchItem.button:hover { -gtk-image-effect: none;}

//
// Pantheon Terminal
//
PantheonTerminalPantheonTerminalWindow.background {
   background-color: transparent;
}

//
// Noise
//
NoiseGridView .cell:selected { text-shadow: none; }

//
// Switchboard
//
SwitchboardCategoryView .view:selected,
SwitchboardCategoryView .view:selected:focus {
  color: $fg_color;
  text-shadow: none;
  icon-shadow: none;
}

//
// Maya Calendar
//
$_maya_fg_color: #333333;

MayaViewGridDay.cell,
MayaViewGridDay.cell:selected {
  background-image: none;
  border: none;
  text-shadow: none;
  color: $_maya_fg_color;

  GtkLabel:insensitive { color: transparentize($_maya_fg_color, 0.6); }
}

MayaViewHeader {
  color: $_maya_fg_color;
}