/* Nemo */
NemoPathbarButton {
  color: @dark_fg_color;
  border-color: @dark_borders;
  background-image: linear-gradient(to bottom, 
                                    @dark_button_gradient_color_a, 
                                    @dark_button_gradient_color_b);
	box-shadow: inset 0 1px alpha(white, 0.15); 
}

NemoPathbarButton:hover {
  background-image: linear-gradient(to bottom, 
                                    @dark_button_hover_gradient_color_a, 
                                    @dark_button_hover_gradient_color_b);
}

NemoPathbarButton:active,
NemoPathbarButton:checked {
  border-color: shade(@dark_borders, 0.9);
  background-image: linear-gradient(to bottom, 
                                    shade(@dark_button_gradient_color_b, 0.9), 
                                    shade(@dark_button_gradient_color_b, 1.0));
	box-shadow: inset 0 1px 2px alpha(black, 0.1); 
}

NemoStatusBar GtkLabel {
  text-shadow: none;
  color: @dark_fg_color;
}

NemoWindow GtkEventBox {
	background-color: @dark_bg_color;
}

NemoWindow GtkSeparator.separator.horizontal {
	color: @dark_borders
}

/* Gedit */
GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: alpha(@dark_bg_color, 0.3);
  background-color: alpha(@dark_bg_color, 0.2);
}

GeditFileBrowserWidget .toolbar {
  border-bottom: 1px solid @dark_borders;
}

/* Rhythmbox */
RBButtonBar.toolbar {
  background-color: @theme_bg_color;
  border-style: none;
  background-image: none;
}

RBButtonBar.toolbar .button.flat {
  transition: none;
  color: @theme_fg_color;
  icon-shadow: 0 1px @button_text_shadow;
  text-shadow: 0 1px @button_text_shadow;
}

RBButtonBar.toolbar .button.flat:focus {
  border-image: -gtk-scaled(url("borders/button-border-default.png"),url("borders/button-border-default@2.png")) 3 3 4 3 / 3px 3px 4px 3px stretch;
}

RBButtonBar.toolbar .button.flat:hover {
  color: @theme_fg_color;
  icon-shadow: 0 1px @button_text_shadow;
  text-shadow: 0 1px @button_text_shadow;
  background-image: linear-gradient(to bottom,
                                    @button_hover_gradient_color_a,
                                    @button_hover_gradient_color_b);
  border-image: -gtk-scaled(url("borders/button-border.png"),url("borders/button-border@2.png")) 3 3 4 3 / 3px 3px 4px 3px stretch;
}

RBButtonBar.toolbar .button.flat:active,
RBButtonBar.toolbar .button.flat:checked,
RBButtonBar.toolbar .button.flat:active:hover,
RBButtonBar.toolbar .button.flat:checked:hover {
  color: @button_active_text;
  background-image: linear-gradient(to bottom,
                                    @button_active_gradient_color_a,
                                    @button_active_gradient_color_b);
  text-shadow: 0 -1px @button_active_text_shadow;
  icon-shadow: 0 -1px @button_active_text_shadow;
  border-image: -gtk-scaled(url("borders/button-active-border.png"),url("borders/button-active-border@2.png")) 3 3 4 3 / 3px 3px 4px 3px stretch;
}

/* Evince */
EvWindow.background EggFindBar.primary-toolbar.toolbar.horizontal {
  background-image: none;
  background-color: shade(@dark_bg_color, 1.1);
}

/* Marlin */
MarlinViewChromeLocationBar .button.raised:focus {
  background-image: none;
}

MarlinViewChromeLocationBar .button:active,
MarlinViewChromeLocationBar .button:checked {
  background-image: none;
  background-color: alpha(black, 0.2);
}

/* Panel */
.panel {
  background-color: transparent;
}

/*Widgets*/

/* Bottom Toolbars */
.bottom-toolbar.toolbar {
  border-color: @dark_borders;
	box-shadow: inset 0 1px alpha(white, 0.15);
  background-image: linear-gradient(to bottom,
                                    shade(@dark_bg_color, 1.1),
                                    shade(@dark_bg_color, 0.9));
}
