@define-color terminal_bg shade(#3D3E40, 0.7);
@define-color terminal_fg #ffffff;
@define-color documents_emblem_bg #3465a4;
@define-color documents_collection_bg shade(@theme_bg_color, 0.8);
@define-color entry_tag_bg @theme_selected_bg_color;
@define-color entry_tag_fg @theme_selected_fg_color;

/* Evolution */
/* needed for webkit/GtkStyle/Evolution compatibility */
GtkHTML {
  background-color: @theme_base_color;
  color: @theme_text_color;
}
GtkHTML:active {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
}

/* Sushi */
/* used by gnome-font-viewer and sushi */
SushiFontWidget {
  padding: 6px 12px;
}

/*GNOME Terminal */
VteTerminal {
  background-color: @terminal_bg;
  color: @terminal_fg;
}

TerminalWindow GtkNotebook.notebook {
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

TerminalWindow .notebook tab.reorderable-page,
TerminalWindow .notebook tab.reorderable-page:hover {
  padding: 4px 20px 4px;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
  background-color: @terminal_bg;
	background-image: none;
	border-color: @terminal_bg;
	border-image: none;
}

TerminalWindow .scrollbar.slider.vertical {
    border-image: -gtk-scaled(url("assets/scrollbar-slider-dark.png"),url("assets/scrollbar-slider-dark@2.png")) 8 7 8 8 / 8px 7px 8px 8px;
}

TerminalWindow .scrollbar.slider.vertical:hover {
    border-image: -gtk-scaled(url("assets/scrollbar-slider-hover-dark.png"),url("assets/scrollbar-slider-hover-dark@2.png")) 8 8 7 8 / 8px 8px 7px 8px;
}

TerminalWindow .scrollbar.slider.vertical:active {
    border-image: -gtk-scaled(url("assets/scrollbar-slider-active-dark.png"),url("assets/scrollbar-slider-active-dark@2.png")) 8 8 7 8 / 8px 8px 7px 8px;
}

/* Nautilus */
.nautilus-canvas-item {
  border-radius: 2px;
}

.nautilus-desktop.nautilus-canvas-item {
  color: @theme_selected_fg_color;
  text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
  color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
  text-shadow: none;
}

NautilusNotebook.notebook {
  background-color: @theme_base_color;
}
/*
NautilusNotebook.notebook tab.top {
  padding: 6px 20px 5px; }
*/
/* Nemo */
NemoWindow * {
	-GtkPaned-handle-size: 1px;
}

NemoWindow .sidebar .frame {
	border-width: 0;
}

NemoWindow GtkSeparator.separator.horizontal {
	color: @borders
}

NemoWindow .pane-separator,
NemoWindow .pane-separator:hover {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: @borders;
}

NemoWindow .notebook tab.top {
  padding: 4px 20px 2px;
}

NemoNotebook.notebook {
  border-width: 1px 0 0 0;
}

NemoPathbarButton {
	color: @theme_fg_color;
	border-width: 1px;
  border-color: @borders;
  background-image: linear-gradient(to bottom, 
                                      @button_gradient_color_a, 
                                      @button_gradient_color_b);
	box-shadow: inset 0 1px alpha(@highlight, 0.9); 
}

NemoPathbarButton:hover {
  background-image: linear-gradient(to bottom, 
                                      @button_hover_gradient_color_a, 
                                      @button_hover_gradient_color_b);
}

NemoPathbarButton:active,
NemoPathbarButton:checked {
  border-color: shade(@borders, 0.9);
  background-image: linear-gradient(to bottom, 
                                      shade(@button_gradient_color_b, 0.9), 
                                      shade(@button_gradient_color_b, 1.0));
	box-shadow: inset 0 1px 2px alpha(black, 0.1); 
}

/*Gedit*/
GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: @borders;
  background-color: shade(@theme_bg_color, 0.95);
  color: @borders;
}

.open-document-selector-listbox-row {
  border-bottom: 1px solid shade(@theme_bg_color, 0.95);
  padding: 6px 6px 6px 12px;
}

.open-document-selector-listbox-row .path-label {
  font-size: smaller;
  color: alpha(@theme_fg_color, 0.5);
}

.open-document-selector-listbox-row:selected .path-label {
  color: alpha(@theme_selected_fg_color, 0.5);
}

.gedit-document-panel {
  background-color: @sidebar_bg;
}

/* sidepane close button styling (copied from the gtk tab close button) */
.gedit-document-panel .list-row .button {
  color: transparent;
  border-image: none;
  background-image: none;
  background-color: transparent;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 1px;
  icon-shadow: none;
}

.gedit-document-panel .prelight-row .button  {
  color: @theme_fg_color;
  border-color: alpha(black, 0.1);
  transition: all 100ms ease-in;
}

.gedit-document-panel .prelight-row:selected .button  {
  color: @theme_selected_fg_color;
  border-color: alpha(white, 0.2);
}

.gedit-document-panel .list-row .button:hover,
.gedit-document-panel .prelight-row .button:hover {
  color: shade(red, 1.3);
  border-color: alpha(black, 0.2);
  transition: all 100ms ease-in;
  border-width: 1px;
}

.gedit-document-panel .prelight-row:selected .button:hover {
  color: @theme_selected_fg_color;
  border-color: alpha(white, 0.5);
}

.gedit-document-panel .prelight-row .button:active {
  color: @theme_fg_color;
  background-color: alpha(black, 0.08);
  box-shadow: inset 0 1px alpha(black, 0.05);
  border-color: alpha(black, 0.27)
                alpha(black, 0.13)
                alpha(black, 0.13)
                alpha(black, 0.13);
}

.gedit-document-panel-dragged-row {
  border: 1px solid @borders;
  background-color: shade(@sidebar_bg, 0.90);
  color: @theme_fg_color;
}

.gedit-document-panel-placeholder-row {
  border: none;
  background-color: mix(@sidebar_bg, @theme_selected_bg_color, 0.20);
  transition: all 100ms ease-in;
}

GeditStatusbar {
  border-top: 1px solid @borders;
  background-image: linear-gradient(to bottom,
                                    shade(@theme_bg_color, 1.00),
                                    shade(@theme_bg_color, 0.96));
  box-shadow: inset 0 1px @highlight_shadow;
}

GeditStatusMenuButton.button.flat,
GeditStatusMenuButton:prelight.button.flat,
GeditStatusMenuButton:checked.button.flat {
  border-image: none;
  border-width: 1px 1px 0 1px;
  border-radius: 0; }

GeditStatusMenuButton:prelight.button.flat {
  border-color: @borders; }

GeditStatusMenuButton:checked.button.flat {
  border-color: shade(@button_active_gradient_color_a, 0.9); }

GeditViewFrame .gedit-search-slider {
  background-color: shade(@theme_bg_color, 1.02);
  padding: 6px;
  border-color: shade(@borders, 1.1);
  border-radius: 0 0 3px 3px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

GeditFileBrowserWidget .toolbar {
  border-bottom: 1px solid @borders;
  background-color: shade(@theme_bg_color, 0.95);
}

.gedit-search-entry-occurrences-tag {
  color: alpha(@theme_fg_color, 0.6);
  margin: 2px;
  padding: 2px;
}

/* GNOME Documents */
.documents-load-more.button,
.documents-load-more.button:focus,
.documents-load-more.button:focus:active,
.documents-load-more.button:active,
.documents-load-more.button:active:hover {
  border-image: none;
  border-color: @borders;
  border-width: 1px 0 0;
  border-radius: 0;
}

.documents-load-more.button:focus:active,
.documents-load-more.button:active,
.documents-load-more.button:active:hover {
  border-color: shade(@button_active_gradient_color_a, 0.7);
}

.documents-icon-bg {
  background-color: @documents_emblem_bg;
  border-radius: 4px;
  color: @theme_base_color;
}

.documents-collection-icon {
  background-color: @documents_collection_bg;
  border-radius: 4px;
}

.documents-favorite.button:active,
.documents-favorite.button:active:hover {
  color: shade(@theme_selected_bg_color, 1.20);
}

.documents-entry-tag {
  background-color: @entry_tag_bg;
  color: @entry_tag_fg;
  border-radius: 2px;
  border-width: 0;
  margin: 2px;
  margin-bottom: 3px;
  padding: 4px;
}

.documents-entry-tag:hover {
  background-color: shade(@entry_tag_bg, 1.10);
  color: @entry_tag_fg;
}

.documents-entry-tag.button,
.documents-entry-tag.button:hover,
.documents-entry-tag.button:active,
.documents-entry-tag.button:active:hover {
  background-color: transparent;
  background-image: none;
  border-image: none;
  border-width: 0;
}

.toolbar .linked .documents-entry-tag.button,
.toolbar .linked .documents-entry-tag.button:hover{
  border-image: none;
  box-shadow: none;
}

.toolbar .linked .documents-entry-tag.button:hover {
  color: alpha(@entry_tag_fg, 0.7);
}

.content-view.document-page {
  border-style: solid;
  border-width: 3px 3px 6px 4px;
  border-image: url("assets/thumbnail-frame.png") 3 3 6 4;
}

/* Baobab */
.cell.baobab-level-cell,
.cell.baobab-level-cell:hover,
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
	background-image: none;
}

BaobabRingschart {
  background-color: @theme_bg_color;
  padding: 13px 13px 13px 13px;
}

BaobabRingschart.subfolder-tip {
  border-radius: 2px;
  border-style: none;
  padding: 3px 3px 3px 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: @theme_selected_fg_color;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

/* Epiphany */
#ephy-page-menu-button.active-menu {
  background-image: none;
  background-color: @theme_base_color;
  border-image: none;
  border-color: @theme_base_color;
  border-radius: 3px 3px 0 0;
  color: @theme_fg_color;
  icon-shadow: none;
}

EphyWindow.background GtkProgressBar.osd.progressbar {
  background-color: @theme_selected_bg_color;
  border-radius: 0;
}

EphyWindow.background GtkProgressBar.osd.trough {
	box-shadow: none;
}

/* GNOME Photos *//*
.photos-icon-bg {
	icon-shadow: 0 1px #000000;
}*/

/* Gucharmap */
GucharmapChartable:active {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

/*Evince*/
EvWindow .pane-separator {
  background-image: linear-gradient(to bottom, @theme_bg_color);
}

EvWindow.background EggFindBar.primary-toolbar.toolbar.horizontal {
  background-image: none;
}

/* Shotwell */
LibraryWindow GtkPaned.horizontal {
	/*-GtkPaned-handle-size: 1;*/
	background-image: none;
	border-width: 0;
  background-color: @theme_bg_color;
}

LibraryWindow GtkFrame.frame {
	border-width: 0;
}

LibraryWindow .bottom-toolbar.toolbar {
  border-color: alpha(black, 0.75);
}

/* Gnome-Sound-Recorder */
#recordGrid .toolbar {
	background-color: @theme_bg_color; 
	background-image: none; 
	color: @theme_fg_color;
}

/* GNOME Bluetooth *//*
GtkEntry.entry.pin-entry {
	font: regular 50;
	padding-left: 25px;
	padding-right: 25px;
}

GtkLabel.pin-label {
	font: regular 50;
}*/

/* Totem */
TotemMainToolbar.header-bar {
	border-width: 0;
}

TotemGrilo.vertical .search-bar {
	border-width: 1px 0 0 0;
}

GtkApplicationWindow.background GtkStack GtkVBox.vertical GtkOverlay GtkRevealer.top {
	background-color: @borders;
}

/*FIXME this could cause problems, disabled for now*/
/* Geary *//*  
GtkPaned.horizontal.sidebar-pane-separator GtkPaned.horizontal,
GtkPaned.horizontal.sidebar-pane-separator {
 	-GtkPaned-handle-size: 1;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: @borders;
}

GtkPaned.horizontal.sidebar-pane-separator GtkBox.vertical.sidebar GtkFrame.frame {
	border-width: 0 0 1px 0;
}

GtkPaned.horizontal.sidebar-pane-separator GtkPaned.horizontal GtkFrame.frame {
	border-width: 0;
}

MainWindow.background GtkBox.vertical MainToolbar {
	border-bottom: 1px solid @borders
}*/

/* Noise *//*
NoiseLibraryWindow GtkPaned.vertical,
NoiseLibraryWindow GtkPaned.horizontal {	
	-GtkPaned-handle-size: 1;
	background-color: @borders;
}

NoiseInfoPanel.content-view {
	background-color: @content_view_bg;
}
*/


/*Widgets*/

/* Sourcelist *//*
.source-list,
.source-list.view {
    background-color: @sidebar_bg;
}

.source-list.badge,
.source-list.badge:prelight,
.source-list.badge:selected,
.source-list.badge:prelight:selected {
    margin: 0 3px;
    padding: 0 6px;
    border-width: 0;
    border-radius: 10px;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}*/

/* Bottom Toolbars */
.bottom-toolbar.toolbar {
  border-width: 1px 0 0 0;
	border-style: solid;
  border-color: @borders;
	padding: 5px;
	box-shadow: inset 0 1px alpha(white, 0.95);
  background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 0.99),
                                      shade(@theme_bg_color, 0.93));
}

.bottom-toolbar.toolbar .button:insensitive {
  border-image: none;
  background-color: transparent;
}
