/*
  Set correct layout with 
  gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
  or
  gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
  for buttons on the left 
*/

.header-bar .button.titlebutton,
.titlebar .button.titlebutton,
GtkCalendar.header .button.titlebutton,
.header-bar .button.titlebutton:hover,
.titlebar .button.titlebutton:hover,
GtkCalendar.header .button.titlebutton:hover,
.header-bar .button.titlebutton:checked,
.titlebar .button.titlebutton:checked,
GtkCalendar.header .button.titlebutton:checked {
  background: none;
  border-width: 1px 0px 2px 0px;
  border-color: transparent;
  border-style: solid;
  border-image: none;
  icon-shadow: none;
  box-shadow: none; }

.header-bar .right .button.titlebutton,
.titlebar .right .button.titlebutton,
GtkCalendar .right .header .button.titlebutton {
  padding-left: 3px;
  padding-right: 4px; }

.header-bar .left .button.titlebutton,
.titlebar .left .button.titlebutton,
GtkCalendar .left .header .button.titlebutton {
  padding-left: 4px;
  padding-right: 3px; }

.titlebar .right .titlebutton,
.titlebar .left .titlebutton,
.titlebar .right .titlebutton:hover,
.titlebar .left .titlebutton:hover,
.titlebar .right .titlebutton:active:hover,
.titlebar .left .titlebutton:active:hover,
.titlebar .right .titlebutton:backdrop,
.titlebar .left .titlebutton:backdrop {
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

/* Generic titlebutton */
.titlebar .right .titlebutton,
.titlebar .left .titlebutton {
  background-image: url('window-controls/titlebutton.svg');
}

.titlebar .right .titlebutton:backdrop,
.titlebar .left .titlebutton:backdrop {
  background-image: url('window-controls/titlebutton_unfocused.svg');
}

/* :hover and :active states */

/* Minimize */
.titlebar .right .titlebutton:nth-last-child(3):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):hover,
.titlebar .left .titlebutton:nth-child(3):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):hover {
  background-image: url('window-controls/min_prelight.svg');
}

/* Maximize */
.titlebar .right .titlebutton:nth-last-child(2):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):hover,
.titlebar .left .titlebutton:nth-child(2):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):hover {
  background-image: url('window-controls/max_prelight.svg');
}

/* Close */
.titlebar .right .titlebutton:last-child:hover,
.titlebar .right:dir(rtl) .titlebutton:first-child:hover,
.titlebar .left .titlebutton:first-child:hover,
.titlebar .left:dir(rtl) .titlebutton:last-child:hover {
  background-image: url('window-controls/close_prelight.svg');
}

.titlebar .right .titlebutton:active:hover,
.titlebar .left .titlebutton:active:hover {
  background-image: url('window-controls/titlebutton_pressed.svg');
}

/*GtkMenuButton*/
.titlebar .left GtkMenuButton.titlebutton:first-child,
.titlebar .left GtkMenuButton.titlebutton:first-child:hover,
.titlebar .left GtkMenuButton.titlebutton:first-child:active,
.titlebar .right GtkMenuButton.titlebutton:last-child,
.titlebar .right GtkMenuButton.titlebutton:last-child:hover,
.titlebar .right GtkMenuButton.titlebutton:last-child:active {
  background-image: none;
  border-width: 1px 1px 2px 1px;
  padding-left: 4px;
  padding-right: 4px;
  icon-shadow: none;
}

.titlebar .left GtkMenuButton.titlebutton:first-child,
.titlebar .right GtkMenuButton.titlebutton:last-child {
  color: @wm_title;
}

.titlebar .left GtkMenuButton.titlebutton:first-child:hover,
.titlebar .right GtkMenuButton.titlebutton:last-child:hover {
  color: @theme_fg_color;
  background-image: linear-gradient(to bottom,
			                              @button_hover_gradient_color_a,
                                    @button_hover_gradient_color_b);
  text-shadow: 0 1px @highlight_shadow;
  icon-shadow: 0 1px @highlight_shadow;
  -gtk-image-effect: highlight;
  border-image: -gtk-scaled(url("borders/button-border.png"),url("borders/button-border@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent; }

.titlebar .left GtkMenuButton.titlebutton:first-child:checked,
.titlebar .right GtkMenuButton.titlebutton:last-child:checked {
  color: @button_active_text;
  background-image: linear-gradient(to bottom,
                                    @button_active_gradient_color_a,
                                    @button_active_gradient_color_b);
  text-shadow: 0 -1px @button_active_text_shadow;
  icon-shadow: 0 -1px @button_active_text_shadow;
  box-shadow: inset 0 1px 2px alpha(black, 0.2);
  transition-duration: 50ms;
  outline-color: alpha(@button_active_text, 0.3);
  border-image: -gtk-scaled(url("borders/button-active-border.png"),url("borders/button-active-border@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch; }
