/*GtkMenuButton*/

.titlebar .left GtkMenuButton.titlebutton:first-child:hover,
.titlebar .right GtkMenuButton.titlebutton:last-child:hover {
  color: @dark_fg_color;
  background-image: linear-gradient(to bottom,
			                              @dark_button_hover_gradient_color_a,
                                    @dark_button_hover_gradient_color_b);
  text-shadow: 0 -1px alpha(black, 0.7);
  icon-shadow: 0 -1px alpha(black, 0.7);
  border-image: -gtk-scaled(url("borders/button-border-dark.png"),url("borders/button-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch; }

.titlebar .left GtkMenuButton.titlebutton:first-child:active,
.titlebar .right GtkMenuButton.titlebutton:last-child:active {
  background-image: linear-gradient(to bottom,
                                    @dark_button_active_gradient_color_a,
                                    @dark_button_active_gradient_color_b);
  border-image: -gtk-scaled(url("borders/button-active-border-dark.png"),url("borders/button-active-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch; }
